<div class="followers">
  <div class="row m-0">
    <div class="col-sm-4 p-0">
      <div class="userdiv" fxLayout="row" fxLayoutAlign="space-evenly">
        <div fxFlex="85px" class="text-center">
            <img class="userimg" src="./../../assets/images/sample/img1.jpg" alt="">
        </div>
        <div fxFlex style="margin: 10px 0px 0px 5px;">
            <p class="username"> User Name </p>
            <p class="userfollowers"> 100 Followers </p>
            <p class="userfollowing"> 200 Following </p>
            <div class="Action" [matMenuTriggerFor]="followersAction"><i class="material-icons">more_horiz</i></div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 p-0">
      <div class="userdiv" fxLayout="row" fxLayoutAlign="space-evenly">
        <div fxFlex="85px" class="text-center">
            <img class="userimg" src="./../../assets/images/sample/img2.jpg" alt="">
        </div>
        <div fxFlex style="margin: 10px 0px 0px 5px;">
            <p class="username"> User Name </p>
            <p class="userfollowers"> 100 Followers </p>
            <p class="userfollowing"> 200 Following </p>
            <div class="Action" [matMenuTriggerFor]="followersAction"><i class="material-icons">more_horiz</i></div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 p-0">
      <div class="userdiv" fxLayout="row" fxLayoutAlign="space-evenly">
        <div fxFlex="85px" class="text-center">
            <img class="userimg" src="./../../assets/images/sample/img3.jpg" alt="">
        </div>
        <div fxFlex style="margin: 10px 0px 0px 5px;">
            <p class="username"> User Name </p>
            <p class="userfollowers"> 100 Followers </p>
            <p class="userfollowing"> 200 Following </p>
            <div class="Action" [matMenuTriggerFor]="followersAction"><i class="material-icons">more_horiz</i></div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 p-0">
      <div class="userdiv" fxLayout="row" fxLayoutAlign="space-evenly">
        <div fxFlex="85px" class="text-center">
            <img class="userimg" src="./../../assets/images/sample/img4.jpg" alt="">
        </div>
        <div fxFlex style="margin: 10px 0px 0px 5px;">
            <p class="username"> User Name </p>
            <p class="userfollowers"> 100 Followers </p>
            <p class="userfollowing"> 200 Following </p>
            <div class="Action" [matMenuTriggerFor]="followersAction"><i class="material-icons">more_horiz</i></div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 p-0">
      <div class="userdiv" fxLayout="row" fxLayoutAlign="space-evenly">
        <div fxFlex="85px" class="text-center">
            <img class="userimg" src="./../../assets/images/sample/img5.jpg" alt="">
        </div>
        <div fxFlex style="margin: 10px 0px 0px 5px;">
            <p class="username"> User Name </p>
            <p class="userfollowers"> 100 Followers </p>
            <p class="userfollowing"> 200 Following </p>
            <div class="Action" [matMenuTriggerFor]="followersAction"><i class="material-icons">more_horiz</i></div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 p-0">
      <div class="userdiv" fxLayout="row" fxLayoutAlign="space-evenly">
        <div fxFlex="85px" class="text-center">
            <img class="userimg" src="./../../assets/images/sample/img6.jpg" alt="">
        </div>
        <div fxFlex style="margin: 10px 0px 0px 5px;">
            <p class="username"> User Name </p>
            <p class="userfollowers"> 100 Followers </p>
            <p class="userfollowing"> 200 Following </p>
            <div class="Action" [matMenuTriggerFor]="followersAction"><i class="material-icons">more_horiz</i></div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 p-0">
      <div class="userdiv" fxLayout="row" fxLayoutAlign="space-evenly">
        <div fxFlex="85px" class="text-center">
            <img class="userimg" src="./../../assets/images/sample/img7.jpg" alt="">
        </div>
        <div fxFlex style="margin: 10px 0px 0px 5px;">
            <p class="username"> User Name </p>
            <p class="userfollowers"> 100 Followers </p>
            <p class="userfollowing"> 200 Following </p>
            <div class="Action"  [matMenuTriggerFor]="followersAction"><i class="material-icons">more_horiz</i></div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 p-0">
      <div class="userdiv" fxLayout="row" fxLayoutAlign="space-evenly">
        <div fxFlex="85px" class="text-center">
            <img class="userimg" src="./../../assets/images/sample/img1.jpg" alt="">
        </div>
        <div fxFlex style="margin: 10px 0px 0px 5px;">
            <p class="username"> User Name </p>
            <p class="userfollowers"> 100 Followers </p>
            <p class="userfollowing"> 200 Following </p>
            <div class="Action" [matMenuTriggerFor]="followersAction"><i class="material-icons">more_horiz</i></div>
        </div>
      </div>
    </div>
  </div>
</div>







<mat-menu #followersAction="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false" class="followersAction" >
  <div class="arrow"></div>
  <div class="followuserdd" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="followuserdd_icon" fxFlex="40px">
      <i class="material-icons">remove_circle_outline</i>
    </div>
    <div fxFlex>
        <p class="followuserdd_text"> Un Follow </p>
    </div>
  </div>
  <div class="userdropdarrow"></div>
  <hr class="m-0">
  <div class="followuserdd" fxLayout="row" fxLayoutAlign="space-between  center">
      <div class="followuserdd_icon" fxFlex="40px">
        <i class="material-icons">do_not_disturb</i>
      </div>
      <div fxFlex>
          <p class="followuserdd_text">Do Not Show User </p>
      </div>
  </div>
  <hr class="m-0">
  <div class="followuserdd" fxLayout="row" fxLayoutAlign="space-between  center">
      <div class="followuserdd_icon" fxFlex="40px">
        <i class="material-icons">speaker_notes_off</i>
      </div>
      <div fxFlex>
          <p class="followuserdd_text"> Do Not Show User Posts </p>
      </div>
  </div>
  <hr class="m-0">
  <div class="followuserdd" fxLayout="row" fxLayoutAlign="space-between  center">
    <div class="followuserdd_icon" fxFlex="40px">
      <i class="material-icons">report</i>
    </div>
    <div fxFlex>
        <p class="followuserdd_text"> Report User To Admin </p>
    </div>
</div>
</mat-menu>
