<div class="feedsMain">

        <app-feeds-header></app-feeds-header>


    <div class="feeds pt-20" style="background-color: #f3f3f3;">

        <div fxLayout="row" fxLayoutAlign="space-evenly start">
            <div fxFlex="19%">
                <app-feeds-left-bar></app-feeds-left-bar>
            </div>
            <div fxFlex="47%" style="background-color:#ffffff;">
                <app-feeds-center></app-feeds-center>
            </div>
            <div fxFlex="19%" style="background-color:#ffffff; box-shadow:#66666678 0px 1px 8px 0px">
                <app-feeds-right-bar></app-feeds-right-bar>
            </div>
        </div> <!-- Feeds Flex LayOut -->

    </div> <!-- feeds -->

</div> <!-- feedsMain -->
