<div class="feedsMain">
  
    <div class="feedsHeader container-fluid bg-primary-color">
        <div class="" fxLayout="row" fxLayoutAlign="space-evenly center" >
            <div fxFlex="19%">
                <div fxLayout="row" fxLayoutAlign="space-evenly center">
                    <div routerLink="/" style="cursor:pointer">
                        <img class="headerLogo" src="./../../assets/images/logos/logo3mini62.png" alt="">
                    </div>
                    <div>
                        <button class="btn-flat btn btn-cutom"> Post </button>
                    </div>
                </div>  
            </div><!-- header left -->

            <div fxFlex="56%">
                <div>
                    <input class="SearchStyle" type="text" placeholder="Search...">
                    <span class="searchIncon"> <img class="icon" src="./../../assets/images/icons/search.png" alt=""> </span>
                </div>
            </div><!-- header center -->

            <div fxFlex="20%">
                <div fxLayout="row" fxLayoutAlign="space-evenly center">
                    <div>
                        <img class="headericon" src="./../../assets/images/icons/Picture1.png" alt="">
                    </div>
                    <div>
                        <img class="headericon" src="./../../assets/images/icons/Picture2.png" alt="">
                    </div>
                    <div>
                        <img class="headerLogo" src="./../../assets/images/icons/user.png" alt="">
                    </div>
                </div> 
            </div><!-- header right -->

        </div>
    </div> <!-- feedsHeader -->

    <div class="feeds mt-20">

        <div fxLayout="row" fxLayoutAlign="space-evenly">
            <div fxFlex="21%" style="background-color:#ffffff; box-shadow:#66666678 0px 1px 8px 0px">
                <app-feeds-left-bar></app-feeds-left-bar>
            </div>
            <div fxFlex="55%" style="background-color:#ffffff; box-shadow:#66666678 0px 1px 8px 0px">
                
            </div>
            <div fxFlex="21%" style="background-color:#ffffff; box-shadow:#66666678 0px 1px 8px 0px">
                <app-feeds-right-bar></app-feeds-right-bar>
            </div>
        </div> <!-- Feeds Flex LayOut -->

    </div> <!-- feeds -->

</div> <!-- feedsMain -->
