.feedsLefBar .topicheader{
    text-align: center;
    font-size: 16px;
    padding: 10px 0px;
    font-weight: 800;
    background-color: #ffda0069;
}
.feedsLefBar .topicPart{
    min-height: 100px;
    max-height: 100px;
    text-align: center;
    padding-left: 0px;
}
.feedsLefBar .topicimg{
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    background-color: #66666630;
    padding: 3px;
    border-radius: 55px;
}

.feedsLefBar .topicname{
    font-size: 12px;
    margin: 0px;
    font-weight: 700;
    letter-spacing: 0.2px;
    color: #666666;
}

.feedsLefBar .topicfollowers{
    font-size: 11px;
    margin: 0px;
    font-weight: 600;
    color: #999999;
}

.feedsLefBar .topicAddIcon{
    position: absolute;
    top: -2px;
    right: 10px;
}

.feedsLefBar .topicAddIcon i{
    color: #66666673;
    cursor: pointer;
    font-size: 22px;
}

.feedsLefBar .moretopics{
    font-size: 12px;
    margin: 0px;
    font-weight: 700;
    color: #b9b28b;
    position: absolute;
    right: 3px;
    top: -29px;
    letter-spacing: 0.3px;
    cursor: pointer;
}











.feedsLefBar .followheader{
    text-align: center;
    font-size: 16px;
    padding: 10px 0px;
    font-weight: 800;
    background-color: #ffda0069;
}
.feedsLefBar .followPart{
    height: 70px;
    text-align: center;
    padding-left: 0px;
}
.feedsLefBar .followimg{
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    background-color: #66666630;
    padding: 3px;
    border-radius: 55px;
}

.feedsLefBar .followname{
    font-size: 12px;
    margin: 0px;
    font-weight: 700;
    letter-spacing: 0.2px;
    color: #666666;
}











.feedsLefBar .userlistImg{
    height: 50px;
    padding: 0px;
    background-color: #e2e2e2;
    border-radius: 50px;
    margin: 0px 10px 0px 5px;
}
.feedsLefBar .userlistname {
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    color: #666666;
    letter-spacing: 0.5px;
}

.feedsLefBar .userlistcategory {
    margin: 0px;
    font-size: 12px;
    font-weight: 600;
    line-height: 18px;
    color: #666666;
}

.feedsLefBar .userlistfollowers {
    margin: 0px;
    font-size: 11px;
    font-weight: 600;
    line-height: 15px;
    color: #999999;
}
.feedsLefBar .userAddIcon {
    margin: 0px;
}
.feedsLefBar .userAddIcon i{
    font-size: 30px;
    color: #99999991;
    line-height: 45px;;
}
.feedsLefBar .moreusers{
    font-size: 13px;
    margin: 0px;
    font-weight: 600;
    letter-spacing: 0.3px;
    cursor: pointer;
    line-height: 30px;
    color: #999999;
}