<div class="tabStyleOne FeedsCenter">
    <p-tabView (onChange)="onTabChange($event)">
        <!-- Highlights Tab Start -->
        <p-tabPanel header="Highlights">
            <!-- Highlights Header Post Div -->
            <div class="headerPost" fxLayout="row" fxLayoutAlign="space-evenly">
                <div fxFlex>
                    <div class="leftArea">
                            <i class="fa fa-file-text" aria-hidden="true"></i>  Write a Post
                    </div>
                </div>
                <div fxFlex="25%">
                    <div class="rightArea">
                            <i class="material-icons">explore</i>
                    </div>
                </div>
            </div>
            <!-- Highlights Header Post Div  END-->

            <div class="scrolldiv" [ngStyle]="{'height': scrollHeight}">
                <!-- Highlights Post Div -->
                <div class="HighlightsPost mt-15">
                    <!-- Highlights Post Info Header Div -->
                    <div class="PostHeader" fxLayout="row" fxLayoutAlign="space-between">
                        <div fxFlex>
                            <div class="leftSide">
                                <div class="" fxLayout="row" fxLayoutAlign="start center">
                                    <div fxFlex="60px">
                                        <img class="postuserImg" src="./../../assets/images/icons/user.png" alt="">
                                    </div>
                                    <div class="mt-10" fxFlex>
                                        <p class="postusername"> User Name </p>
                                        <p class="postusercategory"> Invester &nbsp; | &nbsp; Software De... </p>
                                        <p class="postuserfollowers"> 20 Followers </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div fxFlex="35%">
                            <div class="rightSide">
                                <div class="" fxLayout="row" fxLayoutAlign="end center">
                                    <div fxFlex class="text-right">
                                        <img class="postcategoryicon" src="./../../assets/images/icons/caticon1.png" alt="">
                                    </div>
                                    <div class="text-right" fxFlex="150px">
                                        <p class="postaction"> ... </p>
                                        <p class="postdate"> 2 Months Ago </p>
                                        <p class="posttopic"> Topic Name </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Highlights Post Info Header Div End -->
                    <hr class="m-5">
                    <!-- Highlights Post -->
                    <div class="postmain" fxLayout="row">
                        <div fxFlex class="text-center">
                            <img src="./../../assets/images/sample/img4.jpg" alt="">
                            <img src="./../../assets/images/sample/img3.jpg" alt="">
                        </div>
                    </div>
                    <!-- Highlights Post END -->
                    <hr class="m-5">
                    <!-- Highlights Post Share Like And More -->
                    <div class="postLikes" fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxFlex class="text-left">
                            <div class="like"> <i class="material-icons">star_border</i> <p class="count"> 300 </p> </div>
                        </div>
                        <div fxFlex class="text-center" >
                            <div class="chat"> <i class="material-icons">chat</i> <p class="count"> 200 </p> </div>
                        </div>
                        <div fxFlex class="text-right">
                            <div class="share"> <i class="material-icons">share</i> <p class="count"> 100 </p> </div>
                        </div>
                    </div>
                    <!-- Highlights Post Share Like And More  END-->
                    <hr class="m-5">
                    <!-- Highlights Post Share Like And More -->
                    <div class="postchat" fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxFlex="60px" class="text-left">
                            <div class="chatUserImg text-center"> <img src="./../../assets/images/icons/user.png" alt=""> </div>
                        </div>
                        <div fxFlex class="text-center" >
                            <div class="chatInput"> <input type="text" placeholder="Post Your Commend..."> </div>
                        </div>
                        <div fxFlex="70px" class="text-right">
                            <div class="chatsend text-center"> <i class="material-icons">send</i> </div>
                        </div>
                    </div>
                    <!-- Highlights Post Share Like And More  END-->

                </div>
                <!-- Highlights Post Div END -->


                <!-- Highlights Post Div -->
                <div class="HighlightsPost mt-15">
                    <!-- Highlights Post Info Header Div -->
                    <div class="PostHeader" fxLayout="row" fxLayoutAlign="space-between">
                        <div fxFlex>
                            <div class="leftSide">
                                <div class="" fxLayout="row" fxLayoutAlign="start center">
                                    <div fxFlex="60px">
                                        <img class="postuserImg" src="./../../assets/images/icons/user.png" alt="">
                                    </div>
                                    <div class="mt-10" fxFlex>
                                        <p class="postusername"> User Name </p>
                                        <p class="postusercategory"> Invester &nbsp; | &nbsp; Software De... </p>
                                        <p class="postuserfollowers"> 20 Followers </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div fxFlex="35%">
                            <div class="rightSide">
                                <div class="" fxLayout="row" fxLayoutAlign="end center">
                                    <div fxFlex class="text-right">
                                        <img class="postcategoryicon" src="./../../assets/images/icons/caticon1.png" alt="">
                                    </div>
                                    <div class="text-right" fxFlex="150px">
                                        <p class="postaction"> ... </p>
                                        <p class="postdate"> 2 Months Ago </p>
                                        <p class="posttopic"> Topic Name </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Highlights Post Info Header Div End -->
                    <hr class="m-5">
                    <!-- Highlights Post -->
                    <div class="postmain" fxLayout="row">
                        <div fxFlex class="text-center">
                            <img src="./../../assets/images/sample/img4.jpg" alt="">
                            <img src="./../../assets/images/sample/img3.jpg" alt="">
                        </div>
                    </div>
                    <!-- Highlights Post END -->
                    <hr class="m-5">
                    <!-- Highlights Post Share Like And More -->
                    <div class="postLikes" fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxFlex class="text-left">
                            <div class="like"> <i class="material-icons">star_border</i> <p class="count"> 300 </p> </div>
                        </div>
                        <div fxFlex class="text-center" >
                            <div class="chat"> <i class="material-icons">chat</i> <p class="count"> 200 </p> </div>
                        </div>
                        <div fxFlex class="text-right">
                            <div class="share"> <i class="material-icons">share</i> <p class="count"> 100 </p> </div>
                        </div>
                    </div>
                    <!-- Highlights Post Share Like And More  END-->
                    <hr class="m-5">
                    <!-- Highlights Post Share Like And More -->
                    <div class="postchat" fxLayout="row" fxLayoutAlign="space-between center">
                        <div fxFlex="60px" class="text-left">
                            <div class="chatUserImg text-center"> <img src="./../../assets/images/icons/user.png" alt=""> </div>
                        </div>
                        <div fxFlex class="text-center" >
                            <div class="chatInput"> <input type="text" placeholder="Post Your Commend..."> </div>
                        </div>
                        <div fxFlex="70px" class="text-right">
                            <div class="chatsend text-center"> <i class="material-icons">send</i> </div>
                        </div>
                    </div>
                    <!-- Highlights Post Share Like And More  END-->

                </div>
                <!-- Highlights Post Div END -->
            </div>
        </p-tabPanel>
        <!-- Highlights Tab END -->
        <p-tabPanel header="Questions">
            Francis Ford legendary continuation and sequel to his landmark 1972 film, The_Godfather parallels the young Vito Corleone's 
        </p-tabPanel>
        <p-tabPanel header="Trends">
            After a break of more than  15 years, director Francis Ford Coppola and writer Mario Puzo returned to the well for this third and final s
        </p-tabPanel>
      </p-tabView>
</div>
