
.FeedsCenter .headerPost{
    height: 40px;
    background-color: #e6e6e6;
    border-top: 1px solid #dedede;
    border-bottom: 1px solid #e6e6e6;
}
.FeedsCenter .headerPost .leftArea{    
    padding: 0px 10px;
    line-height: 40px;
    font-size: 17px;
    font-weight: 500;
    color: #9c9a9a;
}
.FeedsCenter .headerPost .leftArea i{    
    font-size: 19px;
    padding: 0px 10px;
}
.FeedsCenter .headerPost .rightArea{    
    background-color: #cecece;
    height: 38px;
    text-align: center;
}
.FeedsCenter .headerPost .rightArea i{    
    font-size: 33px;
    line-height: 39px;
    color: #e9eef3;
}






.FeedsCenter .HighlightsPost{
    background-color:#ffffff;
    box-shadow: 0px 0px 5px 1px #607d8b63;
    margin: 3px;
}


.FeedsCenter .HighlightsPost .PostHeader{
    padding: 0px 10px;
}
.FeedsCenter .HighlightsPost .leftSide .postuserImg{
    height: 50px;
    width: 50px;
    margin-top: 5px;
    cursor: pointer;
}
.FeedsCenter .HighlightsPost .leftSide .postusername{
    margin: 0px;
    line-height: 17px;
    font-size: 15px;
    font-weight: 600;
    color: #827f7f;
    letter-spacing: 0.5px;
}
.FeedsCenter .HighlightsPost .leftSide .postusercategory{
    margin: 0px;
    line-height: 17px;
    font-size: 14px;
    color: #9c9a9a;
}
.FeedsCenter .HighlightsPost .leftSide .postuserfollowers{
    margin: 0px;
    line-height: 17px;
    font-size: 13px;
    color: #9c9a9a;
}



.FeedsCenter .HighlightsPost .rightSide .postcategoryicon{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
}
.FeedsCenter .HighlightsPost .rightSide .postaction{
    line-height: 18px;
    font-size: 24px;
    margin: 0px;
    color: gray;
}
.FeedsCenter .HighlightsPost .rightSide .postdate{
    margin: 0px;
    line-height: 18px;
    margin-top: 5px;
    color: #9c9a9a;
    font-size: 12px;
    letter-spacing: 0.4px;
}
.FeedsCenter .HighlightsPost .rightSide .posttopic{
    margin: 0px;
    line-height: 18px;
    font-weight: 600;
    color: #9c9a9a;
    letter-spacing: 0.5px;
    font-size: 13px;
}


.FeedsCenter .HighlightsPost .postLikes .like{
    display: inline-flex;
}
.FeedsCenter .HighlightsPost .postLikes {
    padding: 0px 15px;
}
.FeedsCenter .HighlightsPost .postLikes .like i{
    font-size: 32px;
    color: #ffda00;
}
.FeedsCenter .HighlightsPost .postLikes .like .count{
    line-height: 35px;
    font-size: 15px;
    letter-spacing: 0.7px;
    font-weight: 600;
    margin: 0px 5px;
    color: #666666cf;
}
.FeedsCenter .HighlightsPost .postLikes .chat{
    display: inline-flex;
}
.FeedsCenter .HighlightsPost .postLikes .chat i{
    font-size: 32px;
    color: #1d6d04;
}
.FeedsCenter .HighlightsPost .postLikes .chat .count{
    line-height: 30px;
    font-size: 15px;
    letter-spacing: 0.7px;
    font-weight: 600;
    margin: 0px 5px;
    color: #666666cf;
}
.FeedsCenter .HighlightsPost .postLikes .share{
    display: inline-flex;
}
.FeedsCenter .HighlightsPost .postLikes .share i{
    font-size: 30px;
    color: #088eb7;
}
.FeedsCenter .HighlightsPost .postLikes .share .count{
    line-height: 35px;
    font-size: 15px;
    letter-spacing: 0.7px;
    font-weight: 600;
    margin: 0px 5px;
    color: #666666cf;
}

.FeedsCenter .HighlightsPost .postchat {
    padding: 5px 15px;
}

.FeedsCenter .HighlightsPost .postchat .chatUserImg img{
    width: 40px;
    height: 40px
}

.FeedsCenter .HighlightsPost .postchat .chatInput input{
    width: 97%;
    height: 38px;
    outline: transparent;
    border: 1px solid #333f4f3b;
    padding: 0px 10px;
    font-size: 15px;
}

.FeedsCenter .HighlightsPost .postchat .chatsend i{
    font-size: 32px;
    color: #38769f;
    transform: rotate(-35deg);
}

.scrolldiv{
    overflow-Y: auto;
    overflow-x: hidden;
}