<h1 mat-dialog-title> Model Header </h1>
  <hr style="margin-top:10px;">
  <mat-dialog-content style="overflow:initial">
    <h1> This Model Is Working</h1>
  </mat-dialog-content>
  <mat-dialog-actions class="pull-right"> 
      <div>
        <button type="button" mat-raised-button (click)="close()" color="primary"> Close </button>
        <button type="button" mat-raised-button (click)="close()" color="accent"> Close </button>
        <button type="button" mat-raised-button (click)="close()" color="warn"> Close </button>
        <button type="button" mat-raised-button (click)="close()" color="foreground" > Close </button>
        <button type="button" mat-raised-button (click)="close()" color="background" > Close </button>
      </div>
  </mat-dialog-actions>
