.postOne .postheader{
   margin-left: -14px;
   margin-top: -14px;
}
.postOne .userimg{
    width: 45px;
    height: 45px;
    border-radius: 45px;
}
.postOne .posttype{
    line-height: 45px;
    font-size: 19px;
    font-weight: 700;
    color: #333333;
    letter-spacing: 0.7px;
    font-family: 'Ubuntu', sans-serif;
}

.postOne .posttext{
    border-radius: 5px;
    width: 100%;
    min-height: 100px;
    padding: 5px;
    border-color: #dedede;
    color: #333333;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 0.7px;
    font-family: 'Ubuntu', sans-serif;
}

.postOne .postaddon_icon i{
    font-size: 30px;
    color: #333333;
}


.postOne .cat-img-item img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}
.postOne .cat-img-item p{
    font-size: 12px;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.4px;
    margin: 0px
}
.postOne .cat-img-item{
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 50px;
    margin-right: 15px;
}

.postOne .cat-img-item.selected{
    width: 45px;
    height: 45px;
}
.postOne .cat-img-item.selected img{
    width: 42px;
    height: 42px;
    border:5px double #333333;
}