<div class="postOne">
  <div class="postheader" fxLayout="row" fxLayoutAlign="start" >
    <div fxFlex="65px" class="text-center">
      <img class="userimg" src="assets/images/sample/img7.jpg" alt="">
    </div>
    <div fxFlex class="text-left">
      <h5 class="m-0 posttype"> Write a Post </h5>
    </div>
    <div fxFlex class="text-left">
        <h5 class="m-0 posttype text-right" >
          <span style="cursor:pointer" (click)="close()"> X </span>
        </h5>
      </div>
  </div>

  <hr style="margin-top:10px;">

  <mat-dialog-content class="postbody">

    <textarea class="posttext" placeholder="Write Something...."></textarea>

    <div class="postaddon mt-5" fxLayout="row" fxLayoutAlign="start" >
      <div fxFlex="50px" class="text-center postaddon_icon">
          <i class="material-icons">burst_mode</i>
      </div>
      <div fxFlex="50px" class="text-center postaddon_icon">
          <i class="material-icons" style="transform:rotate(90deg)">local_movies</i>
      </div>
      <div fxFlex="50px" class="text-center postaddon_icon">
          <i class="material-icons">insert_link</i>
      </div>
    </div>


    <div fxLayout fxLayoutAlign="space-between">
      <div fxFlex="85%">
          <div class="mt-10" fxLayout fxLayoutAlign="start">
            <div class="cat-img-item selected">
              <img src="assets/images/icons/posttype1.png" alt="">
              <p> Story </p>
            </div>
            <div class="cat-img-item">
                <img src="assets/images/icons/posttype2.png" alt="">
              <p> News </p>
            </div>
            <div class="cat-img-item">
                <img src="assets/images/icons/posttype3.png" alt="">
              <p> Trend </p>
            </div>
            <div class="cat-img-item">
                <img src="assets/images/icons/posttype4.png" alt="">
              <p> Blog </p>
            </div>
            <div class="cat-img-item">
                <img src="assets/images/icons/posttype5.png" alt="">
              <p> Opinion </p>
            </div>
            <div class="cat-img-item">
                <img src="assets/images/icons/posttype6.png" alt="">
              <p> Idea </p>
            </div>
          </div>
      </div>
      <div fxFlex="15%" style="line-height:75px;">
          <button type="button" mat-raised-button (click)="close()" color="primary"> Post </button>
      </div>
    </div>

  </mat-dialog-content>
</div>