<div class="ProfilePrivacy">

  <p class="headerInfo"> Change Password <span style="position:absolute; right: 15px; top: 0px;font-size:23px;cursor:pointer; font-weight: 900; " (click)="close()"  > X </span> </p>
  
  <form [formGroup]="Form" (ngSubmit)="submit()" class="mb-0">
        <div class="text-center">
          <p  class="error alertStyle-1 m-0" *ngIf="PasswordMatch"> Please Enter Correct Password </p>
          <input type="password" (onchange)="Changeing()" formControlName="oldPassword" class="inputStyle-1"  placeholder="Old Password">
        </div>

        <!-- input Email -->
        <div class="text-center">
          <input type="password" formControlName="newPassword" class="inputStyle-1" placeholder="New Password">
        </div>

        <hr class="mb-5">
        <div class="row m-0 mb-5">
          <div class="col-sm-12 text-right">
            <button  [disabled]=" Form.value.oldPassword == '' ||  Form.value.newPassword == '' "
              [ngClass]="{'disabled': Form.value.oldPassword == '' ||  Form.value.newPassword == '' }"  type="submit" class="btn-flat btn btn-cutom"> 
                <span *ngIf="updateing"> Updating... </span> <span *ngIf="!updateing"> Submit </span> 
            </button>
          </div> 
      </div>
      
  </form>

</div>