<div class="SignInSignUp">



  <div class="" fxLayout="row" fxLayout.sm="column" fxLayoutAlign="space-evenly" fxLayoutGap="5%" fxLayoutGap.sm="0">


    <!-- Left Bar -->
    <div fxFlex="40%" class="">
      <div class="mb-20 height-60" style="margin-left:-10%" >
        <div class="row" style="padding:15px 0px;" >
          <div class="col-sm-12">
            <img class="logoDesign-1 mr-5" routerLink="/" style="cursor:pointer" src="assets/images/logo1.png" alt="" >
          </div>
        </div>
      </div>



      <div style="height:400px" fxLayout="column" fxLayoutAlign="space-evenly center" >

          <div class="right-part mb-30" fxLayout fxLayoutAlign="center" >
              <div fxFlex="120px" class="text-center">
                <img class="imgStyle-2" src="assets/images/icons/explainer1.png" alt="">
              </div>
              <div>
                <h4 class="textStyle-2"> Discover people, Connect and Share stories, opinions, ideas and more... </h4>
              </div>
          </div>
          <div class="right-part mb-30" fxLayout fxLayoutAlign="center">
              <div fxFlex="120px" class="text-center">
                <img class="imgStyle-2" src="assets/images/icons/explainer2.png" alt="">
              </div>
              <div>
                <h4 class="textStyle-2"> Discover topics, ask questions with investor or experts and expand your knowledge  </h4>
              </div>
          </div>
          <div class="right-part"  fxLayout fxLayoutAlign="center">
              <div fxFlex="120px" class="text-center">
                <img class="imgStyle-2" src="assets/images/icons/explainer3.png" alt="">
              </div >
              <div>
                <h4 class="textStyle-2">Be up-to-date with the trends, exchange rates, ICOs and more...  </h4>
              </div>
          </div>
        
      </div>


    </div>



    <!-- Right Bar -->
    <div class="mt-20" fxFlex="34%">


        <!-- action Tabs  -->
        <div class="tabStyleSignUpPage">
            <p-tabView [activeIndex]="ActiveTabIndex" (onChange)="onTabChange($event)">
        
                <p-tabPanel header="Sign Up">
                    <div class="bg-primary-color">
                    <form [formGroup]="RegisterForm" (ngSubmit)="submit()">
                        <!-- input Name -->
                        <div class="text-center">
                          <p class="error alertStyle-1 m-0" *ngIf="RegisterForm.controls.UserName.dirty &&  RegisterForm.value.UserName =='' "> Name Is Required </p>
                          <p class="error alertStyle-1 m-0" *ngIf="RegisterForm.value.UserName !='' && UserNameNotAvailabel"> Name is Not Availabel </p>
                          <p class="textgreen alertStyle-1 m-0" *ngIf="RegisterForm.value.UserName !='' && UserNameAvailabel"> Name is Availabel </p>
                          <input type="text" formControlName="UserName" class="inputStyle-1" (blur)="ChekUserNameAvailabel()" placeholder="Name">
                        </div>
              
                        <!-- input Email -->
                        <div class="text-center">
                          <p class="error alertStyle-1" *ngIf="RegisterForm.controls.UserEmail.dirty &&  RegisterForm.value.UserEmail =='' "> E-mail Is Required </p>
                          <p class="error alertStyle-1 " *ngIf="RegisterForm.value.UserEmail !='' && UserEmailNotAvailabel"> E-mail is Not Availabel </p>
                          <p class="textgreen alertStyle-1 " *ngIf="RegisterForm.value.UserEmail !='' && UserEmailAvailabel"> E-mail is Availabel </p>
                          <input type="email" formControlName="UserEmail" class="inputStyle-1" (blur)="ChekUserEmailAvailabel()" placeholder="E-mail Address">
                        </div>
              
                        <!-- input Password -->
                        <div class="text-center">
                          <p class="error alertStyle-1" *ngIf="RegisterForm.controls.UserPassword.dirty &&  RegisterForm.value.UserPassword =='' "> Password Is Required </p>
                          <p class="error alertStyle-1" *ngIf="RegisterForm.controls.UserPassword.dirty &&  RegisterForm.value.UserPassword !='' &&  RegisterForm.value.UserPassword.length <= '5' "> Password Length Minimum 6 Characters  </p>
                          <input type="password" formControlName="UserPassword" class="inputStyle-1" placeholder="Password">
                        </div>
              
                        <!-- Topic Selection -->
                        <div class="mt-10 mb-30" fxLayout fxLayoutAlign="space-between" style="width:84%;margin-left:8%">
                          <div class="cat-img-item" [ngClass]="{'selected': SelectedCategory == 'Enthusiast'}">
                            <img (click)="CategorySelect('Enthusiast','01')" src="assets/images/icons/category1.png" alt="">
                            <span class="catName"> Enthusiast </span>
                            <!-- <div class="catSelect" *ngIf="SelectedCategory == 'Enthusiast'"><img src="assets/images/tick.png" alt=""></div> -->
                          </div>
                          <div class="cat-img-item" [ngClass]="{'selected': SelectedCategory == 'Investor'}">
                            <img (click)="CategorySelect('Investor','02')" src="assets/images/icons/category2.png" alt="">
                            <span class="catName"> Investor </span>
                          </div>
                          <div class="cat-img-item" [ngClass]="{'selected': SelectedCategory == 'Expert'}">
                            <img (click)="CategorySelect('Expert','03')" src="assets/images/icons/category3.png" alt="">
                            <span class="catName"> Expert </span>
                          </div>
                          <div class="cat-img-item" [ngClass]="{'selected': SelectedCategory == 'Media'}">
                            <img (click)="CategorySelect('Media','04')" src="assets/images/icons/category4.png" alt="">
                            <span class="catName"> Media </span>
                          </div>
                          <div class="cat-img-item" [ngClass]="{'selected': SelectedCategory == 'Blogger'}">
                            <img (click)="CategorySelect('Blogger','05')" src="assets/images/icons/category5.png" alt="">
                            <span class="catName"> Blogger </span>
                          </div>
                          <div class="cat-img-item" [ngClass]="{'selected': SelectedCategory == 'Company'}">
                            <img (click)="CategorySelect('Company','06')" src="assets/images/icons/category6.png" alt="">
                            <span class="catName"> Company </span>
                          </div>
                        </div>
              
                        <div *ngIf="SelectedCategory != ''">
                            <!-- Input Company And Professioin -->
                            <div class="mt-40 mb-10" fxLayout fxLayoutAlign="center" fxLayoutGap="10px">
                              <div fxFlex="41%">
                                <input type="text" formControlName="UserCompany" class="inputStyle-2" placeholder="Company">
                              </div>
                              <div fxFlex="41%">
                                <input type="text" formControlName="UserProfession" class="inputStyle-2" placeholder="Profession">
                              </div>
                            </div>
                  
                            <!-- Input Date oF Birth And Gender -->
                            <div *ngIf="SelectedCategory != 'Company' && SelectedCategory != 'Media'" class="mt-10 mb-10" fxLayout fxLayoutAlign="center" fxLayoutGap="10px">
                              <div fxFlex="41%">
                                <input type="text" bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig" formControlName="UserDateOfBirth" class="inputStyle-2" placeholder="Date Of Birth">
                              </div>
                              <div fxFlex="41%">
                                <div class="gender-select">
                                  <div class="tick ml-10" (click)="genderSelect('Male')" style="cursor:pointer">
                                    <img  [ngClass]="{ 'p-13': ActiveGender != 'Male' }" src="assets/images/tick.png" alt=""> Male </div>
                                  <div class="tick ml-20" (click)="genderSelect('Female')" style="cursor:pointer">
                                    <img class="p-13" [ngClass]="{ 'p-13': ActiveGender != 'Female' }" src="assets/images/tick.png" alt=""> Female </div>
                                </div>
                              </div>
                            </div>
                  
                            <!-- Input Country State And City -->
                            <div class="mt-10 mb-10" fxLayout fxLayoutAlign="center" fxLayoutGap="5px">
                              <div fxFlex="28%">
                                  <p-autoComplete (onSelect)="setCountry($event)" [suggestions]="filteredcountries" (completeMethod)="filterCountries($event)" [field]="'name'" [minLength]="1" placeholder="Country" formControlName="UserCountry">
                                        <ng-template let-filteredcountries pTemplate="item">
                                                <div>{{filteredcountries['name']}}</div>
                                         </ng-template>    
                                </p-autoComplete>
                              </div>
                              <div fxFlex="27%">
                                  <p-autoComplete (onSelect)="setState($event)" [suggestions]="filteredstates" (completeMethod)="filterStates($event)" [field]="'name'" [minLength]="1" placeholder="State" formControlName="UserState">
                                      <ng-template let-filteredstates pTemplate="item">
                                             <div> {{filteredstates['name']}} </div>
                                      </ng-template>
                                  </p-autoComplete>
                              </div>
                              <div fxFlex="27%">
                                  <p-autoComplete (onSelect)="setCity($event)" [suggestions]="filteredcities" (completeMethod)="filtercities($event)" [field]="'name'" [minLength]="1" placeholder="City" formControlName="UserCity">
                                      <ng-template let-filteredcities pTemplate="item">
                                             <div>{{filteredcities['name']}}</div>
                                      </ng-template>
                                  </p-autoComplete>
                              </div>
                            </div>
                        </div>
              
                        <!--  Submit Button -->
                        <div class="text-center mt-10 pb-10">
                            <p class="textStyle-3 mb-0"> <small> By signing up, you agree to the terms and privacy policy. </small> </p>
                          <button [disabled]="!formValid" type="submit" class="btn-flat btn btn-cutom"> Register </button>
                        </div>


                        <div *ngIf="SelectedCategory == ''" class="row mb-30">
                            <div class="col-sm-12 text-center">
                                    <p class="textStyle-1 mb-0"> <small>  Or Sign Up Using </small> </p>
                                <div style="display:inline-flex">
                                    <a href="#" class="linkStyle-4 facebook">
                                        <i class="fa fa-facebook" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="linkStyle-4 twitter">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="linkStyle-4 googlePlus">
                                        <i class="fa fa-google-plus" aria-hidden="true"></i>
                                    </a>
                                    <a href="#" class="linkStyle-4 linkedin">
                                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        
                    </form>
                    </div>
                </p-tabPanel>

                <p-tabPanel header="Sign In">
                    <div class="bg-primary-color">
                        <div fxLayout="column" fxLayoutAlign="start" style="height:100%">
              
                            <!-- input Email -->
                            <div class="text-center mt-10" >
                              <input type="email" class="inputStyle-1 bg-color-D1D1D1 mb-20" placeholder="Sample.mail@mail.com" readonly>
                            </div>
              
                            <!-- input Password -->
                            <div class="text-center">
                              <input type="password" class="inputStyle-1" placeholder="Password">
                            </div>
              
                            <!--  Submi Button -->
                            <div class="text-center mt-10 mb-10">
                                <button routerLink="/Feeds" class="btn-flat btn btn-cutom"> Sign In </button>
                            </div>
              
                            <div class="col-sm-12 text-center">
                                <p class="textStyle-1"> Forgot Password !!  </p>
                            </div>
              
              
                            <div class="row mt-40 mb-30">
                                <div class="col-sm-12 text-center">
                                        <p class="textStyle-1 mb-0"> <small>  Or Sign In Using </small> </p>
                                    <div style="display:inline-flex">
                                        <a href="#" class="linkStyle-4 facebook">
                                            <i class="fa fa-facebook" aria-hidden="true"></i>
                                        </a>
                                        <a href="#" class="linkStyle-4 twitter">
                                            <i class="fa fa-twitter" aria-hidden="true"></i>
                                        </a>
                                        <a href="#" class="linkStyle-4 googlePlus">
                                            <i class="fa fa-google-plus" aria-hidden="true"></i>
                                        </a>
                                        <a href="#" class="linkStyle-4 linkedin">
                                            <i class="fa fa-linkedin" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
              
                        </div>
                    </div>
                </p-tabPanel>

            </p-tabView>
        </div>

  
    </div>




  </div>

</div>
