/* You can add global styles to this file, and also import other style files */
@import './../node_modules/primeng/resources/themes/omega/theme.css';
@import './../node_modules/primeng/resources/primeng.min.css';
@import './../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css';


@import './assets/Themes/CustomeTheme.css';

@import './assets/css/crypto/materialcssoveright.css';


@import './assets/css/crypto/primengtabsoveright.css';
@import './assets/css/crypto/primengautocompleteoveright.css';


html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
  }
  
.bg-primary-color{
    background-color: #FFDA00 !important;
    }
.primary-color{
        color: #FFDA00 !important;
}
.bg-color-D1D1D1{
    background-color: #D1D1D1 !important;
}




.dropdown-menu{
    width: 100%;
}
.feedsHeader .dropdown.open.dropdown-menu{
    padding: 0px;
}
.feedsHeader .dropdown.open.dropdown-menu .dropdown-item{
    padding: 0px;
    cursor: pointer;
}
.feedsHeader .dropdown.open.dropdown-menu .dropdown-item.active{
    background-color: #3333333d;
}
.feedsHeader .dropdown.open.dropdown-menu .dropdown-header{
    border-bottom: 2px solid #ffda00;
    background-color: #333333;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1.5px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
}



.customscroll_1.ui-corner-all{
    border-radius: 0px !important;
}
.customscroll_1.ui-widget-content{
    border:0px;
    background: transparent;
}
.customscroll_1 .ui-scrollpanel-content{
    width: 100% !important;
}

.customscroll_1 .ui-scrollpanel-wrapper {
    border-right: 0px solid #f4f4f4; 
}

.customscroll_1 .ui-scrollpanel-bar {
    background-color: #66666661; 
    width: 5px;
}

.customscroll_1 .ui-scrollpanel-bar:hover {
    background-color: #666666b3;
}



.MatMenuNotification{
    max-width: 320px !important;
    overflow: initial !important;
}

.MatMenuUserView{
    max-width: 320px !important;
    overflow: initial !important;
}
.MatMenuUserView .mat-menu-content{
    padding: 0px !important;
}
.followersAction {
    overflow: initial !important;
}
.followersAction .mat-menu-content{
    padding: 0px !important;
}
.followingAction{
    overflow: initial !important;
}
.followingAction .mat-menu-content{
    padding: 0px !important;
}
.followingTopicAction {
    overflow: initial !important;
}
.followingTopicAction .mat-menu-content{
    padding: 0px !important;
}
















.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary{
    color: rgb(73, 73, 73);
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 0.7px;
    background-color: #ffda00;
}










.theme-orange .bs-datepicker-body table td.selected span, 
.theme-orange .bs-datepicker-body table td[class*=select-] span:after, 
.theme-orange .bs-datepicker-body table td span.selected, 
.theme-orange .bs-datepicker-body table td span[class*=select-]:after, 
.theme-orange .bs-datepicker-head{
    background-color: #FFDA00 !important;
}
.bs-datepicker-container{
    padding: 10px !important
}



.html5gallery>div{
    background:  #ffffff !important;
}