<div class="feedsLefBar">
  <!-- <p-scrollPanel style="width:100%;" [style]="{height: scrollHeight }" styleClass="customscroll_1"> -->
    <div class="box-1">
      <!-- Topic -->
      <div class="row m-0">
        <div class="col-sm-12 p-0">
          <p class="topicheader"> Explore </p>
        </div>
      </div>
        
      <div class="row m-0">
        <div *ngIf="TopicLoader" class="col-sm-12" >
          <div style="height:220px" fxLayout="row" fxLayoutAlign="space-evenly center">
              <div fxFlex>
                  <div class="preloader-orbit-loading">
                    <div class="cssload-inner cssload-one"></div>
                    <div class="cssload-inner cssload-two"></div>
                    <div class="cssload-inner cssload-three"></div>
                  </div>
              </div>
          </div>
        </div>
      </div>

      <div class="row m-0">
        <div *ngIf="UnFollowingTopics?.length <= 0 && !TopicLoader" class="col-sm-12" >
          <br><br>
            <h5 class="userlistname text-center"> You are Following All The Topics !</h5>
          <br><br>
        </div>
      </div>

      <div class="row m-0">
        <div class="col-sm-4 topicPart" *ngFor="let Topic of (UnFollowingTopics ? UnFollowingTopics.slice(0,6): []); let i=index">
          <img class="topicimg" src="{{TopicImageBaseUrl}}/{{Topic.TopicImage}}" alt="">
          <p class="topicname">
            <span> {{Topic.TopicName | slice:0:15 }}{{ Topic.TopicName?.length > 15 ? '...' : ' ' }} </span>
          </p>
          <p class="topicfollowers"> {{Topic.Followers}} Followers</p>
          <span class="topicAddIcon">
            <i class="material-icons" (click)="followTopic(Topic._id)">add_circle</i>
          </span>
        </div>
      </div>

      <div class="row m-0">
        <div *ngIf="UnFollowingTopics?.length > 6" class="col-sm-12 text-right p-0">
          <p class="viewall">
            <span  (click) = "OpenModelDiscoverTopics()" > View All... </span>
          </p>
        </div>
      </div>

    </div>

    <!-- topic End -->

    <div class="box-2">
      <div class="row m-0">
        <div class="col-sm-12 p-0">
          <p class="followheader"> Connect </p>
        </div>
        <div style="width:100%" fxLayout="row" fxLayoutAlign="space-evenly start">
          <div class="text-center" fxFlex="33.3%">
            <img *ngIf="ActiveCategory == '01'" class="followimg selected" src="./../../../assets/images/icons/category1-color.png" alt="">
            <img *ngIf="ActiveCategory != '01'"  (click)="ActiveCategorySelect('01')" class="followimg" src="./../../../assets/images/icons/category1.png" alt="">
            <p class="followname">
              <span (click)="ActiveCategorySelect('01')"> Enthusiast </span>
            </p>
          </div>
          <div class="text-center" fxFlex="33.3%">
            <img *ngIf="ActiveCategory == '02'" class=" selected followimg" src="./../../../assets/images/icons/category2-color.png" alt="">
            <img *ngIf="ActiveCategory != '02'" (click)="ActiveCategorySelect('02')" class="followimg" src="./../../../assets/images/icons/category2.png" alt="">
            <p class="followname">
              <span (click)="ActiveCategorySelect('02')"> Investor </span>
            </p>
          </div>
          <div class="text-center" fxFlex="33.3%">
            <img *ngIf="ActiveCategory == '03'" class="followimg selected" src="./../../../assets/images/icons/category3-color.png" alt="">
            <img *ngIf="ActiveCategory != '03'" (click)="ActiveCategorySelect('03')" class="followimg" src="./../../../assets/images/icons/category3.png" alt="">
            <p class="followname">
              <span (click)="ActiveCategorySelect('03')"> Expert </span>
            </p>
          </div>
        </div>

        <div style="width:100%" fxLayout="row" fxLayoutAlign="space-evenly start">
          <div class="text-center" fxFlex="33.3%">
            <img *ngIf="ActiveCategory == '04'" class="followimg selected" src="./../../../assets/images/icons/category4-color.png" alt="">
            <img *ngIf="ActiveCategory != '04'" (click)="ActiveCategorySelect('04')" class="followimg" src="./../../../assets/images/icons/category4.png" alt="">
            <p class="followname">
              <span (click)="ActiveCategorySelect('04')"> Media </span>
            </p>
          </div>
          <div class="text-center" fxFlex="33.3%">
            <img *ngIf="ActiveCategory == '05'" class="followimg selected" src="./../../../assets/images/icons/category5-color.png" alt="">
            <img *ngIf="ActiveCategory != '05'" (click)="ActiveCategorySelect('05')" class="followimg" src="./../../../assets/images/icons/category5.png" alt="">
            <p class="followname">
              <span (click)="ActiveCategorySelect('05')"> Blogger </span>
            </p>
          </div>
          <div class="text-center" fxFlex="33.3%">
            <img *ngIf="ActiveCategory == '06'" class="followimg selected" src="./../../../assets/images/icons/category6-color.png" alt="">
            <img *ngIf="ActiveCategory != '06'" (click)="ActiveCategorySelect('06')" class="followimg" src="./../../../assets/images/icons/category6.png" alt="">
            <p class="followname">
              <span (click)="ActiveCategorySelect('06')"> Company </span>
            </p>
          </div>
        </div>
        <!-- follow people End  -->
      </div>

      <hr class="m-5">
      <div class="row">
        <div *ngIf="UserLoader" class="col-sm-12" >
          <div style="height:220px" fxLayout="row" fxLayoutAlign="space-evenly center">
              <div fxFlex>
                  <div class="preloader-orbit-loading">
                    <div class="cssload-inner cssload-one"></div>
                    <div class="cssload-inner cssload-two"></div>
                    <div class="cssload-inner cssload-three"></div>
                  </div>
              </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div *ngIf="UnfollowingUsers?.length <= 0 && !UserLoader" class="col-sm-12" >
          <br><br>
            <h5 class="userlistname text-center"> You are Following all Users In This Category !</h5>
          <br><br>
        </div>
      </div>

      <!-- follow peoples List  -->
      <div *ngFor="let user of (UnfollowingUsers ? UnfollowingUsers.slice(0,3): []); let j=index"  class="mt-10" fxLayout="row" fxLayoutAlign="space-evenly">
        <div fxFlex="50px" class="text-center">
          <img *ngIf="user.UserImage.toLowerCase().indexOf('http://') !== -1 || user.UserImage.toLowerCase().indexOf('https://') !== -1" (click)="GotoProfile(user._id)" class="userlistImg" src="{{user.UserImage}}" alt="">
          <img *ngIf="user.UserImage.toLowerCase().indexOf('http://') === -1 || user.UserImage.toLowerCase().indexOf('https://') === -1" (click)="GotoProfile(user._id)" class="userlistImg" src="{{UserImageBaseUrl}}/{{user.UserImage}}" alt="">
        </div>
        <div fxFlex>
          <p class="userlistname">
            <span (click)="GotoProfile(user._id)"> {{user.UserName }} </span>
          </p>
          <p class="userlistcategory"> {{user.UserProfession + " @ " + user.UserCompany  | slice:0:20 }}{{ (user.UserProfession + " @ " + user.UserCompany)?.length > 20 ? '...' : ' ' }} </p>
          <p class="userlistfollowers"> {{user.Followers }} Followers </p>
        </div>
        <div fxFlex="45px" class="text-center">
          <span class="userAddIcon">
            <i (click)="followUser(user._id)" class="material-icons">person_add</i>
          </span>
        </div>
      </div>

      <div class="row m-0">
        <div *ngIf="UnfollowingUsers?.length > 3" class="col-sm-12 text-right p-0">
          <p class="viewall"> 
            <span (click)="OpenModelDiscoverUser()" > View All... </span>
          </p>
        </div>
      </div>
      
    </div>
    <!-- follow people  -->
  <!-- </p-scrollPanel> -->
</div>
