<div class="feedsLefBar">
  <p-scrollPanel style="width:100%;" [style]="{height: scrollHeight }" styleClass="customscroll_1">
    <div class="box-1">
      <!-- Topic -->
      <div class="row m-0">
        <div class="col-sm-12 p-0">
          <p class="topicheader"> Explore </p>
        </div>

        <div class="col-sm-4 topicPart ">
          <img class="topicimg" src="assets/images/coins/coin1.png" alt="">
          <p class="topicname"> <span> Topic Name </span> </p>
          <p class="topicfollowers"> 100 Followers</p>
          <span class="topicAddIcon">
            <i class="material-icons">add_circle</i>
          </span>
        </div>
        <div class="col-sm-4 topicPart">
          <img class="topicimg" src="assets/images/coins/coin2.png" alt="">
          <p class="topicname"> <span> Topic Name </span> </p>
          <p class="topicfollowers"> 100 Followers</p>
          <span class="topicAddIcon">
            <i class="material-icons">add_circle</i>
          </span>
        </div>
        <div class="col-sm-4 topicPart ">
          <img class="topicimg" src="assets/images/coins/coin3.png" alt="">
          <p class="topicname"> <span> Topic Name </span> </p>
          <p class="topicfollowers"> 100 Followers</p>
          <span class="topicAddIcon">
            <i class="material-icons">add_circle</i>
          </span>
        </div>
        <div class="col-sm-4 topicPart ">
          <img class="topicimg" src="assets/images/coins/coin4.png" alt="">
          <p class="topicname"><span> Topic Name </span> </p>
          <p class="topicfollowers"> 100 Followers</p>
          <span class="topicAddIcon">
            <i class="material-icons">add_circle</i>
          </span>
        </div>
        <div class="col-sm-4 topicPart">
          <img class="topicimg" src="assets/images/coins/coin5.png" alt="">
          <p class="topicname"> <span> Topic Name </span> </p>
          <p class="topicfollowers"> 100 Followers</p>
          <span class="topicAddIcon">
            <i class="material-icons">add_circle</i>
          </span>
        </div>
        <div class="col-sm-4 topicPart">
          <img class="topicimg" src="assets/images/coins/coin6.png" alt="">
          <p class="topicname"> <span> Topic Name </span> </p>
          <p class="topicfollowers"> 100 Followers</p>
          <span class="topicAddIcon">
            <i class="material-icons">add_circle</i>
          </span>
        </div>
        <div class="col-sm-12 text-right p-0">
            <p class="viewall"> <span> View All... </span> </p>
        </div>

      </div>
      </div>

      <!-- topic End -->

      <div class="box-2">
        <div class="row m-0">
            <div class="col-sm-12 p-0">
                <p class="followheader"> Connect </p>
            </div>
            <div style="width:100%" fxLayout="row" fxLayoutAlign="space-evenly start">
                <div class="text-center" fxFlex="33.3%">
                    <img class="followimg" src="assets/images/icons/category1-color.png" alt="">
                    <p class="followname"> <span> Enthusiast </span> </p>
                </div>
                <div class="text-center" fxFlex="33.3%">
                    <img class="followimg" src="assets/images/icons/category2-color.png" alt="">
                    <p class="followname"> <span> Investor </span> </p>
                </div>
                <div class="text-center" fxFlex="33.3%">
                    <img class="followimg" src="assets/images/icons/category3-color.png" alt="">
                    <p class="followname"> <span> Expert </span> </p>
                </div>
            </div>
                <!-- follow people End  -->
        </div>

      <hr class="m-5">

      <!-- follow peoples List  -->
      <div class="mt-10" fxLayout="row" fxLayoutAlign="space-evenly">
        <div fxFlex="55px" class="text-center">
          <img class="userlistImg" src="assets/images/icons/user.png" alt="">
        </div>
        <div fxFlex>
          <p class="userlistname"> <span> User Name </span>  </p>
          <p class="userlistcategory"> Invester &nbsp; | &nbsp; Software De... </p>
          <p class="userlistfollowers"> 20 Followers </p>
        </div>
        <div fxFlex="45px" class="text-center" >
          <span class="userAddIcon">
            <i class="material-icons">person_add</i>
          </span>
        </div>
      </div>
      <div class="mt-10" fxLayout="row" fxLayoutAlign="space-evenly">
        <div fxFlex="55px" class="text-center">
          <img class="userlistImg" src="assets/images/icons/user.png" alt="">
        </div>
        <div fxFlex>
          <p class="userlistname"><span> User Name </span></p>
          <p class="userlistcategory"> Invester &nbsp; | &nbsp; Software De... </p>
          <p class="userlistfollowers"> 20 Followers </p>
        </div>
        <div fxFlex="45px" class="text-center" >
          <span class="userAddIcon">
            <i class="material-icons">person_add</i>
          </span>
        </div>
      </div>

      <div class="mt-10" fxLayout="row" fxLayoutAlign="space-evenly">
            <div fxFlex="55px" class="text-center">
              <img class="userlistImg" src="assets/images/icons/user.png" alt="">
            </div>
            <div fxFlex>
              <p class="userlistname"> <span> User Name </span> </p>
              <p class="userlistcategory"> Invester &nbsp; | &nbsp; Software De... </p>
              <p class="userlistfollowers"> 20 Followers </p>
            </div>
            <div fxFlex="45px" class="text-center">
              <span class="userAddIcon">
                <i class="material-icons">person_add</i>
              </span>
            </div>
        </div>

      <div class="col-sm-12 text-right p-0">
        <p class="viewall"> <span> View All... </span></p>
      </div>

      </div>
      <!-- follow people  -->
  </p-scrollPanel>
</div>
