<div class="feedsLefBar">
    <div class="row m-0">
        <!-- Topic -->
          <div class="col-sm-12 p-0" > <p class="topicheader"> Topics  </p> </div>

          <div class="col-sm-12 text-right">
              <p class="moretopics">  More Topics...</p>
          </div>

          <div class="col-sm-4 topicPart ">
              <img class="topicimg" src="./../../assets/images/Picture1.png" alt="">
              <p class="topicname"> Topic Name</p>
              <p class="topicfollowers"> 100 Followers</p>
              <span class="topicAddIcon"> <i class="material-icons">add_circle</i> </span>
          </div>
          <div class="col-sm-4 topicPart">
              <img class="topicimg" src="./../../assets/images/Picture2.png" alt="">
              <p class="topicname"> Topic Name</p>
              <p class="topicfollowers"> 100 Followers</p>
              <span class="topicAddIcon"> <i class="material-icons">add_circle</i> </span>
          </div>
          <div class="col-sm-4 topicPart ">
              <img class="topicimg" src="./../../assets/images/Picture3.png" alt="">
              <p class="topicname"> Topic Name</p>
              <p class="topicfollowers"> 100 Followers</p>
              <span class="topicAddIcon"> <i class="material-icons">add_circle</i> </span>
          </div>
          <div class="col-sm-4 topicPart ">
              <img class="topicimg" src="./../../assets/images/Picture4.png" alt="">
              <p class="topicname"> Topic Name</p>
              <p class="topicfollowers"> 100 Followers</p>
              <span class="topicAddIcon"> <i class="material-icons">add_circle</i> </span>
          </div>
          <div class="col-sm-4 topicPart">
              <img class="topicimg" src="./../../assets/images/Picture5.png" alt="">
              <p class="topicname"> Topic Name</p>
              <p class="topicfollowers"> 100 Followers</p>
              <span class="topicAddIcon"> <i class="material-icons">add_circle</i> </span>
          </div>
          <div class="col-sm-4 topicPart">
              <img class="topicimg" src="./../../assets/images/Picture6.png" alt="">
              <p class="topicname"> Topic Name</p>
              <p class="topicfollowers"> 100 Followers</p>
              <span class="topicAddIcon"> <i class="material-icons">add_circle</i> </span>
          </div>
          <!-- topic End -->

          <!-- follow people  -->

          <div class="col-sm-12 p-0">
              <p class="followheader"> Follow People  </p>
          </div>
          <div class="row m-0">
              <div class="col-sm-4 followPart ">
                  <img class="followimg" src="./../../assets/images/Picture1.png" alt="">
                  <p class="followname"> Topic Name</p>
              </div>
              <div class="col-sm-4 followPart">
                  <img class="followimg" src="./../../assets/images/Picture2.png" alt="">
                  <p class="followname"> Topic Name</p>
              </div>
              <div class="col-sm-4 followPart ">
                  <img class="followimg" src="./../../assets/images/Picture3.png" alt="">
                  <p class="followname"> Topic Name</p>
              </div>
        </div>
        <!-- follow people End  -->

        <hr class="m-5">

        <!-- follow peoples List  -->
        <div class="mt-15" fxLayout="row" fxLayoutAlign="space-evenly">
            <div fxFlex="65px" class="text-center">
              <img class="userlistImg" src="./../../assets/images/icons/user.png" alt="">
            </div>
            <div fxFlex>
                <p class="userlistname"> User Name </p>
                <p class="userlistcategory"> Invester &nbsp; | &nbsp; Software De... </p>
                <p class="userlistfollowers"> 20 Followers </p>
            </div>
            <div fxFlex="45px" class="text-center">
                <span class="userAddIcon"> <i class="material-icons">person_add</i> </span>
            </div>
        </div>
        <div class="mt-15" fxLayout="row" fxLayoutAlign="space-evenly">
            <div fxFlex="65px" class="text-center">
              <img class="userlistImg" src="./../../assets/images/icons/user.png" alt="">
            </div>
            <div fxFlex>
                <p class="userlistname"> User Name </p>
                <p class="userlistcategory"> Invester &nbsp; | &nbsp; Software De... </p>
                <p class="userlistfollowers"> 20 Followers </p>
            </div>
            <div fxFlex="45px" class="text-center">
                <span class="userAddIcon"> <i class="material-icons">person_add</i> </span>
            </div>
        </div>

        <div class="col-sm-12 text-right">
            <p class="moreusers">  More Users...</p>
        </div>

        <!-- follow peoples List End -->

    </div>
</div>
