.box-1{
    box-shadow: rgba(102, 102, 102, 0.47) 0px 1px 8px 0px;
    margin: 3px;
    background-color: #ffffff;
}
.feedsLefBar .topicheader{
    text-align: center;
    font-size: 16px;
    padding: 4px 0px;
    font-weight: 500;
    padding-left: 10px;
    color: #333333;
    border-bottom: 3px solid #ffda00;
    font-family: 'Ubuntu', sans-serif;
}
.feedsLefBar .topicPart{
    min-height: 85px;
    max-height: 85px;
    text-align: center;
    padding-left: 0px;
    padding-right: 0px
}
.feedsLefBar .topicimg{
    width: 40px;
    height: 40px;
    margin: 0px 10px;
    background-color: #6666661f;
    border-radius: 55px;
}

.feedsLefBar .topicname{
    font-size: 12px;
    margin: 0px;
    font-weight: 600;
    color: #333333;
    font-family: 'Ubuntu', sans-serif;
}
.feedsLefBar .topicname span{
    cursor: pointer;
}

.feedsLefBar .topicfollowers{
    font-size: 11px;
    margin: 0px;
    /* font-weight: 600; */
    letter-spacing: 0.3px;
    color: #999999;
    margin-top: -4px;
    font-family: 'Ubuntu', sans-serif;
}

.feedsLefBar .topicAddIcon{
    position: absolute;
    top: -5px;
    right: 12px;
}

.feedsLefBar .topicAddIcon i{
    color: #66666673;
    cursor: pointer;
    font-size: 22px;
}

.feedsLefBar .viewall{
    margin: 0px;
    font-size: 13px;
    font-weight: 600;
    color: #999999;
    letter-spacing: 0.6px;
    margin-right: 5px;
    padding-bottom: 3px;
    font-family: 'Ubuntu', sans-serif;
}
.feedsLefBar .viewall span{
   cursor: pointer;
}









.box-2{
    box-shadow: rgba(102, 102, 102, 0.47) 0px 1px 8px 0px;
    margin: 3px;
    margin-top: 20px;
    background-color: #ffffff;
}
.feedsLefBar .followheader{
    text-align: center;
    font-size: 16px;
    padding: 4px 0px;
    font-weight: 500;
    padding-left: 10px;
    color: #333333;
    border-bottom: 3px solid #ffda00;
    margin-bottom: 5px;
    font-family: 'Ubuntu', sans-serif;
}
.feedsLefBar .followPart{
    height: 70px;
    text-align: center;
    padding-left: 0px;
}
.feedsLefBar .followimg{
    width: 40px;
    height: 40px;
    margin: 0px 10px;
    background-color: #66666630;
    padding: 0px;
    border-radius: 55px;
    cursor: pointer;
}
.feedsLefBar .followimg.selected{
    border: 0px solid #333333;
}
.feedsLefBar .followname{
    font-size: 12px;
    margin: 0px;
    font-weight: 600;
    letter-spacing: 0.3px;
    color: #333333;
    font-family: 'Ubuntu', sans-serif;
}
.feedsLefBar .followname span{
    cursor: pointer;
}











.feedsLefBar .userlistImg{
    height: 38px;
    width: 38px;
    padding: 0px;
    background-color: #e2e2e2;
    border-radius: 50px;
    margin: 2px;
    cursor: pointer;
}
.feedsLefBar .userlistname {
    margin: 0px;
    font-size: 13px;
    font-weight: 600;
    line-height: 13px;
    color: #333333;
    letter-spacing: 0.5px;
    margin-top: 2px;
    font-family: 'Ubuntu', sans-serif;
}

.feedsLefBar .userlistname span{
    cursor: pointer;
}

.feedsLefBar .userlistcategory {
    margin: 0px;
    font-size: 11px;
    /* font-weight: 600; */
    line-height: 13px;
    letter-spacing: 0.4px;
    color: #999999;
    font-family: 'Ubuntu', sans-serif;
}

.feedsLefBar .userlistfollowers {
    margin: 0px;
    font-size: 11px;
    /* font-weight: 600; */
    line-height: 14px;
    color: #999999;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.3px;
}
.feedsLefBar .userAddIcon {
    margin: 0px;
}
.feedsLefBar .userAddIcon i{
    font-size: 30px;
    color: #99999991;
    line-height: 40px;
    width: 40px;
    cursor: pointer;
}
