<div class="profileSettings">
  <div class="row">
    <div class="col-sm-4 settingsdiv">
      <div class="settingsBox">
        <p class="boxIcon"> <i class="material-icons">border_color</i> </p>
        <p class="boxHeading"> Edit Profile</p>
        <p class="boxDescription"> Edit Your Name Email and More...</p>
      </div>
    </div>

    <div class="col-sm-4 settingsdiv">
      <div class="settingsBox">
        <p class="boxIcon"><i class="material-icons">mode_edit</i> </p>
        <p class="boxHeading"> Change Password </p>
        <p class="boxDescription"> Change Your Password Also Inset a Current Password...</p>
      </div>
    </div>

    <div class="col-sm-4 settingsdiv">
      <div class="settingsBox">
        <p class="boxIcon"> <i class="material-icons">security</i> </p>
        <p class="boxHeading"> Privacy Settings </p>
        <p class="boxDescription"> Change Your Notification Details and More ...</p>
      </div>
    </div>

    <div class="col-sm-4 settingsdiv">
      <div class="settingsBox">
        <p class="boxIcon"> <i class="material-icons">delete_sweep</i> </p>
        <p class="boxHeading"> Account Settings </p>
        <p class="boxDescription"> Inactive Or Delete Your Account...</p>
      </div>
    </div>
    
  </div>
</div>

