<div *ngIf="data.Type === 'ForgotPassword'" class="bg-primary-color SignInSignUp pt-20" style="position:relative">
    <p style="position:absolute; right:10px; top:0px;font-size:20px;cursor:pointer " (click)="close()"  > X </p>
      <form [formGroup]="FormOne" (ngSubmit)="submitEmail()">
          <!-- input Email -->
          <div class="text-center">
            <p class="error alertStyle-1" *ngIf="FormOne.controls.UserEmail.dirty &&  FormOne.value.UserEmail =='' "> E-mail Is Required </p>
            <p class="error alertStyle-1" *ngIf="UserEmailNotAvailable"> Account is Not Available </p>
            <input type="email" formControlName="UserEmail" class="inputStyle-1" placeholder="E-mail Address">
          </div>
          
          <div class="text-center mt-10 pb-10">
              <p *ngIf="SuccessSend" class="textStyle-3 mb-10 mt-10" style="color:green"> Please Verify Your Email After Reset Your Password </p>
              <p *ngIf="SendError" class="textStyle-3 mb-10 mt-10" style="color:red"> Some Error Occurred! Please Contact Our Team.  </p>
             <button *ngIf="!SuccessSend && !SubmitLoading" type="submit" class="btn-flat btn btn-cutom"> Submit </button>
             <button disabled *ngIf="SubmitLoading" type="button" class="btn-flat btn btn-cutom disabled"> Loading... </button>
          </div>
          
      </form>
  </div>










  <div *ngIf="data.Type === 'SetNewPassword' && PageLoaded"  class="bg-primary-color SignInSignUp pt-20" style="position:relative">
      <p style="position:absolute; right:10px; top:0px;font-size:20px;cursor:pointer " (click)="close()"  > X </p>
        <form [formGroup]="FormTwo" (ngSubmit)="submitPassword()">
            <!-- input Email -->
            <div class="text-center">
              <input type="email" formControlName="UserEmail" class="inputStyle-1" placeholder="E-mail Address">
            </div>

            <div class="text-center">
              <input type="password" formControlName="NewPassword" class="inputStyle-1" placeholder="Enter New Password">
            </div>
            
            <div class="text-center mt-10 pb-10">
               <button [disabled] = "FormOne.controls.UserEmail.dirty && FormOne.value.UserEmail =='' " type="submit" class="btn-flat btn btn-cutom"> Submit </button>
            </div>
            
        </form>
    </div>