<div class="feedsMain">

    <app-feeds-header></app-feeds-header>


    <div class="feeds mt-20">

        <div fxLayout="row" fxLayoutAlign="space-evenly start">
            <div fxFlex="21%" style="background-color:#ffffff; box-shadow:#66666678 0px 1px 8px 0px">
                <app-profile-left-bar></app-profile-left-bar>
            </div>
            <div fxFlex="72%" >
                <app-profile-timeline></app-profile-timeline>
            </div>
        </div> <!-- Feeds Flex LayOut -->

    </div> <!-- feeds -->

</div> <!-- feedsMain -->