<div class="Trends">
  <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxFlex="30%">
        <p-scrollPanel  [style]="{width: '100%', height: scrollHeight }" styleClass="customscroll_1">

            <div class="coinlistitem" fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="45px">
                    <img class="coinlistImg" src="assets/images/coins/coin1.png" alt="">
                </div>
                <div class="mt-10" fxFlex>
                    <p class="coinlistname"> Currency Name </p>
                    <p class="coinlistamt"> $ 100000 </p>
                </div>
            </div>
            <div class="coinlistitem" fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="45px">
                    <img class="coinlistImg" src="assets/images/coins/coin2.png" alt="">
                </div>
                <div class="mt-10" fxFlex>
                    <p class="coinlistname"> Currency Name </p>
                    <p class="coinlistamt"> $ 100000 </p>
                </div>
            </div>
            <div class="coinlistitem" fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="45px">
                    <img class="coinlistImg" src="assets/images/coins/coin3.png" alt="">
                </div>
                <div class="mt-10" fxFlex>
                    <p class="coinlistname"> Currency Name </p>
                    <p class="coinlistamt"> $ 100000 </p>
                </div>
            </div>
            <div class="coinlistitem" fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="45px">
                    <img class="coinlistImg" src="assets/images/coins/coin4.png" alt="">
                </div>
                <div class="mt-10" fxFlex>
                    <p class="coinlistname"> Currency Name </p>
                    <p class="coinlistamt"> $ 100000 </p>
                </div>
            </div>
            <div class="coinlistitem" fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="45px">
                    <img class="coinlistImg" src="assets/images/coins/coin5.png" alt="">
                </div>
                <div class="mt-10" fxFlex>
                    <p class="coinlistname"> Currency Name </p>
                    <p class="coinlistamt"> $ 100000 </p>
                </div>
            </div>
            <div class="coinlistitem" fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="45px">
                    <img class="coinlistImg" src="assets/images/coins/coin6.png" alt="">
                </div>
                <div class="mt-10" fxFlex>
                    <p class="coinlistname"> Currency Name </p>
                    <p class="coinlistamt"> $ 100000 </p>
                </div>
            </div>
            <div class="coinlistitem" fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="45px">
                    <img class="coinlistImg" src="assets/images/coins/coin1.png" alt="">
                </div>
                <div class="mt-10" fxFlex>
                    <p class="coinlistname"> Currency Name </p>
                    <p class="coinlistamt"> $ 100000 </p>
                </div>
            </div>
            <div class="coinlistitem" fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="45px">
                    <img class="coinlistImg" src="assets/images/coins/coin2.png" alt="">
                </div>
                <div class="mt-10" fxFlex>
                    <p class="coinlistname"> Currency Name </p>
                    <p class="coinlistamt"> $ 100000 </p>
                </div>
            </div>
            <div class="coinlistitem" fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="45px">
                    <img class="coinlistImg" src="assets/images/coins/coin3.png" alt="">
                </div>
                <div class="mt-10" fxFlex>
                    <p class="coinlistname"> Currency Name </p>
                    <p class="coinlistamt"> $ 100000 </p>
                </div>
            </div>
            <div class="coinlistitem" fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="45px">
                    <img class="coinlistImg" src="assets/images/coins/coin4.png" alt="">
                </div>
                <div class="mt-10" fxFlex>
                    <p class="coinlistname"> Currency Name </p>
                    <p class="coinlistamt"> $ 100000 </p>
                </div>
            </div>
            <div class="coinlistitem" fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="45px">
                    <img class="coinlistImg" src="assets/images/coins/coin5.png" alt="">
                </div>
                <div class="mt-10" fxFlex>
                    <p class="coinlistname"> Currency Name </p>
                    <p class="coinlistamt"> $ 100000 </p>
                </div>
            </div>
            <div class="coinlistitem" fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex="45px">
                    <img class="coinlistImg" src="assets/images/coins/coin6.png" alt="">
                </div>
                <div class="mt-10" fxFlex>
                    <p class="coinlistname"> Currency Name </p>
                    <p class="coinlistamt"> $ 100000 </p>
                </div>
            </div>

        </p-scrollPanel>
    </div>
    <div fxFlex="70%">
        <div class="tabStyleTwo">
            <p-tabView (onChange)="onTabChange($event)">
        
                <p-tabPanel header="Charts & Trends"  leftIcon="fa-line-chart">
                    <img src="assets/images/bitcoin_chart.png" alt="">
                </p-tabPanel>
        
                <p-tabPanel header="Write impression" leftIcon="fa-pencil">

                    <div class="impression">

                        <div class="headerPost" fxLayout="row" fxLayoutAlign="space-evenly">
                            <div fxFlex >
                                <div class="leftArea">
                                        <i class="fa fa-file-text" aria-hidden="true"></i>  Write Impression
                                </div>
                            </div>
                        </div>

                        <p-scrollPanel style="width:100%;"  [style]="{width: '100%', height: impresionsHeight }" styleClass="customscroll_1">
                            <div class="impressionPost">
                                <div class="impressionbody">
                                    <p class="impressiontext"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. qui eaque ducimus quis sequi error iusto ut.!</p>
                                </div>
                                <hr class="m-0">
                                <div class="impressioninfo">
                                        <div class="PostHeader" fxLayout="row" fxLayoutAlign="space-between">
                                                <div fxFlex>
                                                    <div class="leftSide">
                                                        <div class="" fxLayout="row" fxLayoutAlign="start center">
                                                            <div fxFlex="45px">
                                                                <img class="postuserImg" src="assets/images/icons/user.png" alt="">
                                                            </div>
                                                            <div class="mt-10" fxFlex>
                                                                <p class="postusercategory"> <span class="postusername"> User Name,  </span> Invester &nbsp; | &nbsp; Software De... </p>
                                                                <p class="postuserfollowers"> 20 Followers </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div fxFlex="25%">
                                                    <div class="rightSide">
                                                        <div class="" fxLayout="row" fxLayoutAlign="end center">
                                                            <div class="text-right" fxFlex>
                                                                <p class="postaction"> ... </p>
                                                                <p class="postdate"> 2 Months Ago </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                </div>
                            </div>
                            <div class="impressionPost">
                                <div class="impressionbody">
                                    <p class="impressiontext"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. qui eaque ducimus quis sequi error iusto ut.!</p>
                                </div>
                                <hr class="m-0">
                                <div class="impressioninfo">
                                    <div class="PostHeader" fxLayout="row" fxLayoutAlign="space-between">
                                        <div fxFlex>
                                            <div class="leftSide">
                                                <div class="" fxLayout="row" fxLayoutAlign="start center">
                                                    <div fxFlex="45px">
                                                        <img class="postuserImg" src="assets/images/icons/user.png" alt="">
                                                    </div>
                                                    <div class="mt-10" fxFlex>
                                                        <p class="postusercategory"> <span class="postusername"> User Name,  </span> Invester &nbsp; | &nbsp; Software De... </p>
                                                        <p class="postuserfollowers"> 20 Followers </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div fxFlex="25%">
                                            <div class="rightSide">
                                                <div class="" fxLayout="row" fxLayoutAlign="end center">
                                                    <div class="text-right" fxFlex>
                                                        <p class="postaction"> ... </p>
                                                        <p class="postdate"> 2 Months Ago </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="impressionPost">
                                <div class="impressionbody">
                                    <p class="impressiontext"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. qui eaque ducimus quis sequi error iusto ut.!</p>
                                </div>
                                <hr class="m-0">
                                <div class="impressioninfo">
                                    <div class="PostHeader" fxLayout="row" fxLayoutAlign="space-between">
                                        <div fxFlex>
                                            <div class="leftSide">
                                                <div class="" fxLayout="row" fxLayoutAlign="start center">
                                                    <div fxFlex="45px">
                                                        <img class="postuserImg" src="assets/images/icons/user.png" alt="">
                                                    </div>
                                                    <div class="mt-10" fxFlex>
                                                        <p class="postusercategory"> <span class="postusername"> User Name,  </span> Invester &nbsp; | &nbsp; Software De... </p>
                                                        <p class="postuserfollowers"> 20 Followers </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div fxFlex="25%">
                                            <div class="rightSide">
                                                <div class="" fxLayout="row" fxLayoutAlign="end center">
                                                    <div class="text-right" fxFlex>
                                                        <p class="postaction"> ... </p>
                                                        <p class="postdate"> 2 Months Ago </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="impressionPost">
                                <div class="impressionbody">
                                    <p class="impressiontext"> Lorem ipsum dolor, sit amet consectetur adipisicing elit. qui eaque ducimus quis sequi error iusto ut.!</p>
                                </div>
                                <hr class="m-0">
                                <div class="impressioninfo">
                                    <div class="PostHeader" fxLayout="row" fxLayoutAlign="space-between">
                                        <div fxFlex>
                                            <div class="leftSide">
                                                <div class="" fxLayout="row" fxLayoutAlign="start center">
                                                    <div fxFlex="45px">
                                                        <img class="postuserImg" src="assets/images/icons/user.png" alt="">
                                                    </div>
                                                    <div class="mt-10" fxFlex>
                                                        <p class="postusercategory"> <span class="postusername"> User Name,  </span> Invester &nbsp; | &nbsp; Software De... </p>
                                                        <p class="postuserfollowers"> 20 Followers </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div fxFlex="25%">
                                            <div class="rightSide">
                                                <div class="" fxLayout="row" fxLayoutAlign="end center">
                                                    <div class="text-right" fxFlex>
                                                        <p class="postaction"> ... </p>
                                                        <p class="postdate"> 2 Months Ago </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </p-scrollPanel>
                    </div>
                        
                </p-tabPanel>
        
            </p-tabView>
        </div>
    </div>
  </div>
</div>