<div class="Trends">
  <div fxLayout="row" fxLayoutAlign="space-between">
      <div fxFlex="30%">
        <div class="scrolldiv" [ngStyle]="{'height': scrollHeight}">
          <div class="postansuserinfo" fxLayout="row" fxLayoutAlign="start center">
              <div fxFlex="45px">
                  <img class="postansuserImg" src="./../../assets/images/icons/user.png" alt="">
              </div>
              <div class="mt-10" fxFlex>
                  <p class="postansusername"> Currency Name </p>
                  <p class="postansfollowes"> $ 100000 </p>
              </div>
          </div>
        </div>
    </div>
    <div fxFlex="70%">

    </div>
  </div>
</div>