
.scrolldiv{
    overflow-Y: auto;
    overflow-x: hidden;
}

.Trends{
    background-color:#ffffff;
    box-shadow: 0px 0px 5px 1px #607d8b63;
    margin: 3px;
}

.Trends  .coinlistImg{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}
.Trends .coinlistname{
    font-size: 15px;
    font-weight: 600;
    color:#333333;
    letter-spacing: 0.4px;
    margin: 0px;
}

.Trends .coinlistamt{
    font-size: 14px;
    color: #333333;
    margin-bottom: 15px;
    line-height: 14px;
}
.Trends .coinlistitem{
    height: 50px;
    margin: 7px 0px 7px 7px;
    padding: 3px;
    cursor: pointer;
}
.Trends .coinlistitem:hover {
    background-color: #ffda0061;
}
.Trends .coinlistitem.selected{
    background-color: #ffda00;
}
.Trends .coinlistitem.selected .coinlistname{
    color: #ffffff;
}
.Trends .coinlistitem.selected .coinlistamt{
    color: #ffffff;
}

.Trends .tabStyleTwo{
    margin-left: 10px;
    margin-top: 7px;
    margin-right: 5px;
}




.inforate{
    margin: 0px;
    text-align: left;
    margin-left: 20px;
    line-height: 20px;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
}
.infotime{
    text-align: left;
    margin-left: 30px;
    line-height: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    color: #888888;
}
.infoinfo{
    text-align: right;
    margin-right: 80px;
    line-height: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    color: #888888;
    margin-bottom: 0px;
}
.infoopen{
    text-align: right;
    margin-right: 10px;
    line-height: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    color: #888888;
    margin-bottom: 0px;
}
.infohigh{
    text-align: right;
    margin-right: 10px;
    line-height: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    color: #888888;
    margin-bottom: 0px;
}
.infolow{
    text-align: right;
    margin-right: 10px;
    line-height: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    color: #888888;
    margin-bottom: 0px;
}
.preHeader{
    font-family: 'Ubuntu', sans-serif;
    margin: 0px;
    font-size: 15px;
}
.calValue{
    width: 65%;
    display: inline-flex;
}
.calValue input{
    width: 90%;
    height: 35px;
    border-width: 5px;
    border: 3px solid lightgray;
    margin: 4px 0px;
    padding: 5px;
}
.accuracy{
    width: 60%;
}
.accuracy .accuracyPercent{
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 12px;
    line-height: 22px;
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-left: 0px;
    color: gray;
}
.accuracy .accuracyTime{
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    line-height: 16px;
    margin-left: 10px;
    color: #777777;
}
.PredictionInfo{
    width: 13%;
    font-family: 'Ubuntu', sans-serif;
    font-size: 17px;
    color: #d3d3d3;
    font-weight: 800;
    text-align: center;
}
.PredictionInfo p{
    height: 25px;
    width: 25px;
    line-height: 21px;
    text-align: center;
    border-radius: 50px;
    border: 2px solid lightgrey;
    margin-left: 10px;
    margin-top: 7px;
    cursor: pointer;
}
.AddPrediction{
    width: 37%;
}
.AddPrediction p{
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 40px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin-left: 10px;
    color: #666666;
}
.PredictionInput{
    width: 43%;
}
.PredictionInput input{
    width: 100%;
    height: 35px;
    border-width: 5px;
    border: 3px solid #ffdd00;
    margin: 4px 0px;
    padding: 5px;
}
.PredictionSend{
    width: 20%;
    text-align: center;
    line-height: 40px;
}
.PredictionSend img{
    width: 30px;
    cursor: pointer;
}
.ourPrediction{
    line-height: 15px;
    margin: 0px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 13px;
    font-weight: 600;
    margin-left: 5px;
    letter-spacing: 0.5px;
    color: #666666;
}
.PredictionButton{
    border: 2px solid #ffda00;
    padding-left: 0px;
    border-radius: 0px;
    cursor: pointer;
    font-size: 13px;
    text-align: center;
    font-weight: 600;
    letter-spacing: 0.6px;
    font-family: 'Ubuntu', sans-serif;
    margin: 0px 0px;
}

.tooltipCustomClass{
    width:200px;
    background-color:red;
    font-size: 14px;
}










.Trends .impression .headerPost{
    background-color: #ffffff;
    margin: 10px 3px ;
    box-shadow: rgba(102, 102, 102, 0.47) 0px 1px 8px 0px;
}
.Trends .impression .headerPost .leftArea{    
    line-height: 35px;
    font-size: 15px;
    padding: 0px 10px;
    font-weight: 600;
    color: #333333;
    letter-spacing: 0.5px;
    font-family: 'Ubuntu', sans-serif;
}
.Trends .impression .headerPost .leftArea i{    
    font-size: 19px;
    padding: 0px 10px;
}

.Trends .impressionPost{
    background-color: #ffffff;
    box-shadow: 0px 0px 3px 1px #607d8b63;
    margin:4px 4px 15px 4px;
    padding: 4px;
}

.Trends .impressionPost .impressionbody .impressiontext{
    font-size: 15px;
    color: gray;
    margin: 2px 10px;
    word-spacing: 2.5px;
    line-height: 20px;
}
.Trends .impressionPost .PostHeader{
    padding: 0px 2px;
}
.Trends .impressionPost .leftSide .postuserImg{
    height: 38px;
    width: 38px;
    border-radius: 45px;
    margin-top: 5px;
}
.Trends .impressionPost .leftSide .postusername{
    line-height: 14px;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin: 0px;
    font-weight: 600;
    color: #333333;
    font-family: 'Ubuntu', sans-serif;
}
.Trends .impressionPost .leftSide .postusercategory{
    margin: 0px;
    line-height: 15px;
    font-size: 13px;
    color: #9c9a9a;
    font-family: 'Ubuntu', sans-serif;
}
.Trends .impressionPost .leftSide .postuserfollowers{
    margin: 0px;
    line-height: 16px;
    font-size: 13px;
    color: #9c9a9a;
    font-family: 'Ubuntu', sans-serif;
}

.Trends .impressionPost .rightSide .postaction{
    line-height: 10px;
    font-size: 24px;
    margin: 0px;
    color: gray;
}
.Trends .impressionPost .rightSide .postdate{
    margin: 0px;
    line-height: 16px;
    margin-top: 6px;
    color: #9c9a9a;
    font-size: 12px;
    letter-spacing: 0.4px;
    font-family: 'Ubuntu', sans-serif;
}

