<div class="banr-head">

<br>



  <div class="container">



    <div class="row">


      <div class="col-md-12">



          <div class="text-center">


            <a href="http://b2c.network" class="logo">
              <img src="./../../assets/images/logo1.png" alt=" aa" title="aa">
            </a>



        </div>



      </div>



    </div>



  </div>



  <div class="container">



    <div class="row">



      <div class="text-center" style="width:100%">
        <br>
        <h3 class="whiih-page-head">Privacy and Data Policy</h3>
      </div>
      <div class="col-sm-12 whiih-page-con">
        <p>- You agree that b2c will not be responsible or liable for any false information provided by anyone or users
          or advertisement agencies, advertisement providers or anyone who advertises in b2c. We are also not liable
          and responsible for the accuracy of information in these cases, websites, contents, services, products or relevant
          items. In case of any third party links or relevant information, you are solely responsible form all actions, damages
          or problems faced from your use of them. </p>
        <p>- You use the services at your own risk and to the maximum permitted extend by law, b2c, its partners, officers,
          licensors, agents, employees, management, share holders, associated entities, EIINK Educational Services Pvt Ltd,
          service providers and relevant entities are not responsible or liable for any loss, negligence, damage, non adherence
          of terms of users, accuracy of information, loss of data, harm for systems and its resources, failure to transmit,
          store or deletion of any content/communications, interruption of service, error free service, security issues,
          defamation of any person by the users, incidental damages, loss of data, profits, any intangible loss, offensive
          statements, illegal conduct of any user or advertiser, unauthorized access and relevant.</p>
        <p>- All the information provided by the user is used by b2c and its associated entities for analyzing user behavior,
          use the information to give you suggested or relevant content or advertisement, essentials, personalized contents,
          understand and analyze problems, security, etc</p>
        <p>- All the information provided by the user, not just pertaining to pictures, contact details, phone numbers, mobile
          numbers, email ids, interests, work details and also content will be available for public viewing on the service,
          which will be collected and also used by b2c and EIINK Educational Services to send you information on our
          services, marketing information, advertisements by us as well as those who wish to advertise in b2c. - In case
          you login through facebook, twitter or any social media sites (SNS), the data, SNS user ID or any relevant data
          will be collected and stored and used for advertising or any other purposes.</p>
        <p>- All the information provided by user (“Contents” as mentioned in “terms of service”), will be available public
          and also searched by all search engines. We also use your information to send invitation to your friends or people
          whom you invite.</p>
        <p>- We collect personal data from users when they provide, post or upload it to our services; it includes surveys,
          updating contact information, upcoming event interest, Contacts etc. If you sync your email or calendars with our
          services, corresponding data will also be collected</p>
        <p>- We also collect information about your network, connections, hardware used, their software, payment details including
          card numbers, shipping details, locations, device details, authentication information, links that you click, website
          or apps that you visit or download and any other relevant information</p>
        <p>-We use data about users to suggest connections for users and others and enable users to follow other users. Users
          can also opt to allow us to use users precise location or proximity to other to connect within.</p>
        <p>- Our service allows you to stay informed about the news, events, favourites etc., and connect other with those having
          same idea, thought, talent etc.</p>
        <p>- We contact users through email, notices posted on our website or apps, and other ways through our services, including
          text messages and push notifications. We will send you messages about the availability of our services, security,
          or other service- related issues. We also send messages about how to use the services, network updates, reminder,
          promotional messages, advertisements from us, our partners and those who subscribe the service for advertising.
          Please be aware that you cannot opt out of receiving service messages from us, including security and legal notices.
          We also enable communication or debates between you and others through our services.</p>
        <p>- We also use cookies and tracking technologies for using your information, provide customized service, advertisements
          and its control, analysis of user data, getting the information related to browsers or any interaction with services,
          locations, IP addresses, browser related details, URLs, pages, clicks, domains, landing pages or similar information
          and some or all of it may be made public or used for advertising. </p>
        <p>- Our cookie and relevant technologies may change from time to time and we may use security, authentication, research,
          analytics, advertising, flash and other cookies - We allow third parties to fetch us information on the user statistics,
          information, third party ad servers, networks, etc and the technologies used by any third party are not governed
          by b2c or associated entities and also we do not respond to “do not track” signals and control third parties
          in this matter.
        </p>
        <p>- We may share user information, any content of the user, statistics of user or any associated information to third
          parties, transfer the data, research, sell or transfer in case of merging or acquisition or dissolution of/with
          any entity (also anonyomized) and we are not responsible for the control of third party’s use of your information.
          We are not responsible for your usage of any external links provided by any user or advertisers and its associated
          damages. In case we receive in writing that the user details shall not be shared, then we will consider it for
          the particular user after internal approval.</p>
        <p>-We adhere to self- regulatory principles for interest- based advertising and participate in industry opt outs from
          such ads. This does not opt user out of receiving advertising- you will continue to get generic ads or ads by advertisers
          not listed with these self-regulatory tools. - In case only if we come to know by writing that any one has registered
          without their parent’s consent in case of a user below 13 years of age, we will take necessary steps.
        </p>



        <p>
          <b>We collect,</b>
        </p>

        <p>- Content and other information provided by you when you sign up or share any content, message or communicate with
          other people or entity, location, date of any file, type of content you view, share, engage, create, communicate,
          frequency, duration of activities</p>
        <p>- Content provided by other people when they engage or communicate with you or your content in any form</p>
        <p>- Connections and networks, groups, pages that you engage and communicate with</p>
        <p>- Payment information including credit/debit card numbers, other card information, authentication and account information,
          billing, contact details or shipping details when you use our services to do a financial transaction or a payment</p>
        <p>- Device information in order to provide you services that you may wish (device type, information, OS, settings,
          hardware details, software details, signal/battery information, identifiers, locations, geography, locations through
          GPS, Bluetooth, Wifi signals, mobile operator information, ISP, mobile phone number, IP address, browser details</p>
        <p>- the data log whenever the user visits or otherwise uses our services and our website. We use log-ins, cookies,
          device information and internet protocol(“IP”) addresses to identify you and log your use</p>
        <p>- Information when you click or use third party services, information about the service you use</p>
        <p>- Information from our third party partners about you on or off b2c will be collected</p>


        <br>

        <p>
          <b>We use this information </b>
        </p>

        <p>- To provide you services, information about applications, services, products, brands, etc that you may be interested
          in</p>
        <p>- Data and content about members for invitations and communications promoting membership and network growth and engagement</p>
        <p>- To produce aggregate insights that do not identify you. For example we may use user data to generate statistics
          about our users, their profession or industry, the number of ad impressions served or clicked on, or the demographic
          distribution of visitors to a site</p>
        <p>- User Data(including your communications) if we think it is necessary for security purposes or to investigate possible
          fraud or other violations of our User Agreement or this privacy policies and/or attempts to harm our members or
          visitors</p>
        <p>- To conduct research about user interests or other topics, surveys, validate features, improve our services, conduct
          audits, develop new products and troubleshooting</p>
        <p>- To ensure safety and check violations of our policies and terms, harmful content. </p>
        <p>- In case our ownership or control of any part of the service or company changes, we share all the information to
          them as well</p>

        <br>

        <p>
          <b>Cookies</b>
        </p>

        <p>We also use cookies and tracking technologies for using information, provide customized service, advertisements and
          its control, analysis of user data, getting the information related to browsers or any interaction with services,
          locations, IP addresses, browser related details, URLs, Clicks, Domains, landing pages or similar information and
          some or all of it may be made public or used for advertising . Our Cookies and relevant technologies change from
          time to time and we may use security authentication, research, analytics, advertising, flags and other cookies.
          We allow third parties to fetch us information on the user statistics, information, third party ad servers, networks,
          etc and the technologies used by any third party are not governed by b2c or associate entities and also we
          do not respond to “do not track” signal and control third parties in this matter.</p>



        <br>


        <p>
          <b>Change in Privacy</b>
        </p>

        <p> By agreeing to the “Privacy Policy”, the user also accepts and agrees to the changes in “Privacy Policy” made by
          b2c anytime in future. The “Privacy Policy” shall be changed without any prior notice to you or users in general
          at any time. Also, the user agrees to the condition that the services or any features shall be stopped anytime,
          usage limits and access can be created anytime by b2c. The service is an initiative of EIINK Educational Services
          Pvt Ltd, operating in India. In case of any feedback related to the Privacy Policy please contact us at
          <span>
          info@b2c.network </span> / updated on 01.02.2018
        </p>


      </div>



    </div>



  </div>



  <br>
  <br>
  <!-- sponsors -->
</div>
