<div class="ProfilrLeftBar" style="position:relative">

    <!-- UserDetails -->
    <div *ngIf="!UserInfoLoading" class="userdiv" fxLayout="column" fxLayoutAlign="start center">
        <div fxFlex="120px" class="text-center">
            <img  class="userimg" src="{{UserImageBaseUrl}}/{{UserInfo['data'].UserImage}}" alt="">
        </div>
        <div fxFlex="60px">
            <p class="username"> {{UserInfo['data'].UserName}} </p>
            <p class="userfollowers"> {{UserInfo['data'].UserCategoryName}} &nbsp; | &nbsp; {{UserInfo['data'].UserProfession}} </p>
        </div>
    </div>

    <div *ngIf="LoginUser" style="left:10px;" class="PictureChange" (click)="EditProfile()"> <i style="padding:5px;font-size:22px;" class="material-icons">border_color</i> </div>

    <div *ngIf="LoginUser" class="PictureChange" (click)="EditProfilePic()"> <i class="material-icons">wallpaper</i> </div>
    <!-- UserDetails End -->

    <div *ngIf="!LoginUser" class="row">
        <div class="col-sm-12 text-center">
            <button *ngIf="!LoginUserFollow" (click)="followUser(UserInfo['data']._id)" style="min-width:70%" mat-raised-button class="btn-custom" color="primary" type="button" (click)="FollowUser()"> Follow </button>
            <button *ngIf="LoginUserFollow" (click)="UnfollowUser(UserInfo['data']._id)" style="min-width:70%" mat-raised-button class="btn-custom" type="button" (click)="UnFollowUser()"> Unfollow </button>
        </div>
    </div>

    <!-- Followers -->
    <div class="row">
      <div class="col-sm-12">
          <p class="headerstyle"> Followed By </p>
      </div>
      <div class="col-sm-12 listFlexDiv">

        <div *ngIf="LoderOne" class="col-sm-12" >
            <div style="height:100px" fxLayout="row" fxLayoutAlign="space-evenly center">
                <div fxFlex>
                    <div class="preloader-orbit-loading">
                        <div class="cssload-inner cssload-one"></div>
                        <div class="cssload-inner cssload-two"></div>
                        <div class="cssload-inner cssload-three"></div>
                    </div>
                </div>
            </div>
        </div>
    
        <div *ngIf="UserFollowingUsers?.length <= 0 && !LoderOne" class="col-sm-12" >
            <br>
                <h5 class="userlistname"> Followed Users Not Found!</h5>
            <br>
        </div>


          <div *ngFor="let user of (UserFollowingUsers ? UserFollowingUsers.slice(0,4): []);" class="col-sm-3 followPart ">
              <img class="followimg" (click)="GotoProfile(user._id)" src="{{UserImageBaseUrl}}/{{user.UserImage}}" alt="">
              <p class="followname" > <span (click)="GotoProfile(user._id)"> {{user.UserName | slice:0:7 }}{{ user.UserName?.length > 7 ? '...' : ' ' }} </span> </p>
          </div>
      </div>
      <div *ngIf="UserFollowingUsers?.length > 4" class="col-sm-12 text-right">
          <p class="viewAll"> <span> View All... </span> </p>
      </div>
    </div>

    <!-- Followers End  -->


    <!-- Followers -->
    <div class="row">
      <div class="col-sm-12">
          <p class="headerstyle"> Following </p>
      </div>
      <div class="col-sm-12 listFlexDiv">

            <div *ngIf="LoderTwo" class="col-sm-12" >
                <div style="height:100px" fxLayout="row" fxLayoutAlign="space-evenly center">
                    <div fxFlex>
                        <div class="preloader-orbit-loading">
                            <div class="cssload-inner cssload-one"></div>
                            <div class="cssload-inner cssload-two"></div>
                            <div class="cssload-inner cssload-three"></div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div *ngIf="FollowingUsers?.length <= 0 && !LoderTwo" class="col-sm-12" >
                <br>
                    <h5 class="userlistname"> Following Users Not Found!</h5>
                <br>
            </div>

          <div *ngFor="let user of (FollowingUsers ? FollowingUsers.slice(0,4): []);" class="col-sm-3 followPart ">
              <img class="followimg" (click)="GotoProfile(user._id)" src="{{UserImageBaseUrl}}/{{user.UserImage}}" alt="">
              <p class="followname" > <span (click)="GotoProfile(user._id)"> {{user.UserName | slice:0:7 }}{{ user.UserName?.length > 7 ? '...' : ' ' }} </span>  </p>
          </div>
      </div>
      <div *ngIf="FollowingUsers?.length > 4" class="col-sm-12 text-right">
          <p class="viewAll"> <span> View All... </span>  </p>
      </div>
    </div>
    
    <!-- Followers End  -->



    <!-- Followers -->
    <div class="row ">
      <div class="col-sm-12">
          <p class="headerstyle"> Topics </p>
      </div>
      <div class="col-sm-12 listFlexDiv">

            <div *ngIf="LoderThree" class="col-sm-12" >
                <div style="height:100px" fxLayout="row" fxLayoutAlign="space-evenly center">
                    <div fxFlex>
                        <div class="preloader-orbit-loading">
                            <div class="cssload-inner cssload-one"></div>
                            <div class="cssload-inner cssload-two"></div>
                            <div class="cssload-inner cssload-three"></div>
                        </div>
                    </div>
                </div>
            </div>
        
            <div *ngIf="FollowingTopics?.length <= 0 && !LoderThree" class="col-sm-12" >
                <br>
                    <h5 class="userlistname"> Following Topic Not Found!</h5>
                <br>
            </div>

          <div *ngFor="let Topic of (FollowingTopics ? FollowingTopics.slice(0,4): []);" class="col-sm-3 followPart ">
              <img class="followimg" src="{{TopicImageBaseUrl}}/{{Topic.TopicImage}}" alt="">
              <p class="followname"> <span (click)="GotoProfile(user._id)"> {{Topic.TopicName | slice:0:7 }}{{ Topic.TopicName?.length > 7 ? '...' : ' ' }} </span>  </p>
          </div>
        
      </div>
      <div *ngIf="FollowingTopics?.length > 4" class="col-sm-12 text-right">
          <p class="viewAll"> <span> View All... </span>  </p>
      </div>
    </div>

    <div class="row m-0" *ngIf="LoginUser">
        <div class="col-xs-4 settingsButton">
            <p (click)="PrivacySettings()"> Privacy Settings </p>
        </div>
        <div class="col-xs-4 settingsButton">
            <p (click)="PasswordChange()"> Change Password </p>
        </div>
    </div>
    
    <!-- Followers End  -->

</div>
