 <div style="height:40px" class="feedsHeader bg-primary-color">
      <div fxLayout="row" fxLayoutAlign="space-evenly center" >
          <div fxFlex="21%">
              <div fxLayout="row" fxLayoutAlign="space-evenly center">
                  <div routerLink="/" style="cursor:pointer">
                      <img class="headerLogo" src="assets/images/logo1.png" alt="">
                  </div>
                  <div>
                      <button class="btn-flat btn btn-cutom"> Post </button>
                  </div>
              </div>  
          </div><!-- header left -->

          <div fxFlex="51%">
              <div style="position:relative">
                  <input class="SearchStyle" type="text" placeholder="Search...">
                  <span class="searchIncon"> <img class="icon" src="assets/images/icons/search.png" alt=""> </span>
              </div>
          </div><!-- header center -->

          <div fxFlex="21%">
              <div fxLayout="row" fxLayoutAlign="space-evenly center">
                  <div fxFlex="30%" class="text-center">
                      <img (click)="OpenModelDiscover()" style="cursor:pointer ;height:28px" class="headericon" src="assets/images/icons/explore.png" alt="">
                  </div>
                  <div fxFlex="30%" class="text-center" [matMenuTriggerFor]="notifictionList" style="line-height:40px">
                      <img  class="headericon" src="assets/images/icons/notification.png" alt="">
                  </div>
                  <div fxFlex="30%" class="text-center" [matMenuTriggerFor]="userView" style="line-height:40px">
                      <img class="headeruserimg" src="assets/images/sample/img7.jpg" alt="">
                  </div>
              </div> 
          </div><!-- header right -->

      </div>
  </div> <!-- feedsHeader -->

    <mat-menu #notifictionList="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false" class="MatMenuNotification" >
        
        <div class="notifyheader">
            <div class="" fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex>
                    <p class="notifyheadertext"> Notifications <span> ( {{ NotificationList?.length}} ) </span> </p>
                    <div class="arrow"></div>
                </div>
            </div>
        </div>
        <hr class="m-0">
        <p-scrollPanel style="width:100%;" [style]="{height: '250px' }" styleClass="customscroll_1">

            <div *ngIf="NotificationLoder">
                <div style="height:210px" fxLayout="row" fxLayoutAlign="space-evenly center">
                    <div fxFlex>
                        <div class="preloader-orbit-loading">
                            <div class="cssload-inner cssload-one"></div>
                            <div class="cssload-inner cssload-two"></div>
                            <div class="cssload-inner cssload-three"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="!NotificationLoder">
                <div class="notifylist" *ngFor="let Notify of NotificationList; let i=index">
                    <div style="position:relative" fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="45px">
                            <img class="userImg" src="assets/images/users/{{Notify.UserImage}}" alt="">
                        </div>
                        <div class="mt-10" fxFlex>
                            <p class="notifycategory"> <span class="username"> {{Notify.UserName}}  </span>
                                    <span *ngIf="Notify.NotificationType == 0"> Followed You </span>
                                    <span *ngIf="Notify.NotificationType == 5" > Written a New Highlight Post  
                                        <span (click)="OpenModelHighlightsPost(Notify.HighlightPostId)" style="position:absolute; right:3px; bottom:0px; cursor:pointer"  > View More... </span> 
                                    </span>
                                    <span *ngIf="Notify.NotificationType == 6"> Like Your Post 
                                            <span (click)="OpenModelHighlightsPost(Notify.HighlightPostId)" style="position:absolute; right:3px; bottom:0px; cursor:pointer"  > View More... </span>
                                    </span>
                                    <span *ngIf="Notify.NotificationType == 7"> Comment Your Post 
                                            <span (click)="OpenModelHighlightsPost(Notify.HighlightPostId)" style="position:absolute; right:3px; bottom:0px; cursor:pointer"  > View More... </span>
                                    </span>
                                    <span *ngIf="Notify.NotificationType == 9"> Asking a New Question 
                                        <span (click)="OpenModelQuestionsPost(Notify.QuestionPostId)" style="position:absolute; right:3px; bottom:0px; cursor:pointer"  > View More... </span> 
                                    </span>
                                    <span *ngIf="Notify.NotificationType == 11"> Answering Your Question 
                                            <span (click)="OpenModelQuestionsPost(Notify.QuestionPostId)" style="position:absolute; right:3px; bottom:0px; cursor:pointer"  > View More... </span> 
                                    </span>
                                    <span *ngIf="Notify.NotificationType == 10"> Rated Your Question 
                                            <span (click)="OpenModelQuestionsPost(Notify.QuestionPostId)" style="position:absolute; right:3px; bottom:0px; cursor:pointer"  > View More... </span> 
                                    </span>
                                    <span *ngIf="Notify.NotificationType == 1"> Unfollow to You </span>
                            </p>
                            <p class="notifydate"> {{Notify.NotificationDate | timeAgo }}  </p>
                        </div>
                    </div>
                    <hr class="m-0">
                </div>
                <br>
            </div>
            

        </p-scrollPanel>
        <div class="notifyfooter">
            <hr class="m-0">
            <div class="" fxLayout="row" fxLayoutAlign="space-evenly center">
                <div fxFlex="100%" class="text-center">
                    <p class="notifyfootertext"> See All... </p>
                </div>
            </div>
            <hr class="m-0">
        </div>
    </mat-menu>



    <mat-menu #userView="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false" class="MatMenuUserView" >   
        <div routerLink="/Profile" style="cursor:pointer" class="userdropd" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="userdropd_icon" fxFlex="40px">
                <i class="material-icons">portrait</i>
            </div>
            <div fxFlex>
                <p class="userdropd_text"> View Profile </p>
            </div>
        </div>
        <div class="userdropdarrow"></div>
        <hr class="m-0">
        <div routerLink="/Profile" style="cursor:pointer" class="userdropd" fxLayout="row" fxLayoutAlign="space-between  center">
            <div class="userdropd_icon" fxFlex="40px">
                <i class="material-icons">settings</i>
            </div>
            <div fxFlex>
                <p class="userdropd_text"> Settings </p>
            </div>
        </div>
        <hr class="m-0">
        <div (click)="LogOut()" style="cursor:pointer" class="userdropd" fxLayout="row" fxLayoutAlign="space-between  center">
            <div class="userdropd_icon" fxFlex="40px">
                <i class="material-icons">power_settings_new</i>
            </div>
            <div fxFlex>
                <p class="userdropd_text"> Log Out </p>
            </div>
        </div>
    </mat-menu>