 <div style="height:45px;background-color: #ffffff !important; border-bottom: 3px solid #ffda00;" class="feedsHeader">
      <div fxLayout="row" fxLayoutGap="2.5%" fxLayoutAlign="center center" >
          <div fxFlex="19%">
              <div fxLayout="row" fxLayoutAlign="space-evenly center">
                  <div routerLink="/" style="cursor:pointer">
                      <img class="headerLogo" style="margin: 0px; height: 35px;" src="./../../../assets/images/icons/logo.png" alt="">
                  </div>
                  <div style="cursor:pointer">
                      <img style=" width: 35px;height: 30px;" (click)="OpenHighlightsModel()" class="headerLogo" src="./../../../assets/images/icons/highlights.png" alt="">
                  </div>
                  <div style="cursor:pointer">
                      <img style=" width: 34px;height: 27px;" (click)="OpenQuestionModel()" class="headerLogo" src="./../../../assets/images/icons/question.png" alt="">
                </div>
              </div>  
          </div><!-- header left -->

          <div fxFlex="47%">
              <div style="position:relative">
                    <span class="SearchOptions" dropdown >
                        <a href dropdownToggle (click)="false">  <i class="material-icons filter">filter_list</i> </a>
                        <ul *dropdownMenu class="dropdown-menu searchFilter">
                            <li>
                                <a (click)="SearchAll()" class="dropdown-item"> <i class="material-icons">perm_identity</i> All </a>
                                <hr>
                                <a (click)="SearchUsers()" class="dropdown-item"> <i class="material-icons">perm_identity</i> Users </a>
                                <hr>
                                <a (click)="SearchTopics()" class="dropdown-item"> <i class="material-icons">bubble_chart</i> Topics </a>
                                <!-- <hr>
                                <a class="dropdown-item"> <i class="material-icons">trending_up</i> Highlights </a>
                                <hr>
                                <a class="dropdown-item"> <i class="material-icons">help_outline</i> Questions </a>
                                <hr>
                                <a class="dropdown-item"> <i class="material-icons">attach_money</i> Coins </a> -->
                            </li>
                        </ul>
                    </span>

                  <input [disabled]="InputLoading" [(ngModel)]="selected" [typeahead]="SearchList"
                                                typeaheadGroupField="Category"
                                                (typeaheadOnSelect)="typeaheadOnSelect($event)"
                                                typeaheadOptionField="SearchText"
                                                [typeaheadScrollable]="true"
                                                [typeaheadOptionsInScrollableView]="8"
                                                [typeaheadItemTemplate]="customItemTemplate"
                                                class="SearchStyle" type="text"
                                                placeholder="{{Placeholder}}">

                    <ng-template #customItemTemplate let-value="item" let-index="index">
                        <div *ngIf="value.Category === 'Users'" class="searchList" (click)="GotoProfile(value._id)">
                            <img *ngIf="value.UserImage.toLowerCase().indexOf('http://') !== -1 || value.UserImage.toLowerCase().indexOf('https://') !== -1"  src="{{value.UserImage}}" alt="">
                            <img *ngIf="value.UserImage.toLowerCase().indexOf('http://') === -1 || value.UserImage.toLowerCase().indexOf('https://') === -1" src="{{UserImageBaseUrl}}/{{value.UserImage}}" alt="">
                            <div class="usersInfo">
                                <p>
                                    <span class="searchName"> {{value.UserName}}</span>
                                    <span class="searchCategory"> &nbsp; {{value.UserCategoryName}} </span>
                                    <span class="searchProfesion"> &nbsp; | &nbsp; {{value.UserCategoryName}} @ {{value.UserProfession}} </span>
                                </p>
                                <p class="searchFollowers"> {{value.Followers}} Followers </p> 
                            </div>     
                        </div>
                        <div  *ngIf="value.Category === 'Topics'" class="searchList">
                            <img src="{{TopicImageBaseUrl}}/{{value.TopicImage}}" alt=""> 
                            <div class="usersInfo">
                                <p>
                                    <span class="searchName"> {{value.TopicName}}</span>
                                </p>
                                <p class="searchFollowers"> {{value.Followers}} Followers </p> 
                            </div>     
                        </div>
                        <hr style="margin:0px 12px; border:1px dotted #d4d4d4">
                    </ng-template>
                  <span class="searchIncon"> <img class="icon" src="./../../../assets/images/icons/search.png" alt=""> </span>
              </div>
          </div><!-- header center -->

          <div fxFlex="19%">
              <div fxLayout="row" fxLayoutAlign="space-evenly center">
                    <div fxFlex="25%" class="text-center">
                        <img (click)="OpenModelDiscover()" style="cursor:pointer ;height:32px" class="headericon" src="./../../../assets/images/icons/discoverpeople.png" alt="">
                    </div>
                  <div fxFlex="25%" class="text-center">
                      <img (click)="OpenModelDiscoverTopics()" style="cursor:pointer ;height:32px" class="headericon" src="./../../../assets/images/icons/discovertopic.png" alt="">
                  </div>
                  <div fxFlex="25%" class="text-center" [matMenuTriggerFor]="notifictionList" style="line-height:50px">
                      <img  class="headericon" style="height:25px;" src="./../../../assets/images/icons/notification.png" alt="">
                      <span *ngIf="NotificationList?.length > 0" class="notifyCount">  {{NotificationList?.length}} </span>
                  </div>
                  <div fxFlex="25%" class="text-center" [matMenuTriggerFor]="userView" style="line-height:50px">
                      <img *ngIf="UserInfo.data.UserImage.toLowerCase().indexOf('http://') !== -1 || UserInfo.data.UserImage.toLowerCase().indexOf('https://') !== -1"  src="{{UserInfo.data.UserImage}}" alt="" class="headeruserimg">
                      <img *ngIf="UserInfo.data.UserImage.toLowerCase().indexOf('http://') === -1 || UserInfo.data.UserImage.toLowerCase().indexOf('https://') === -1" src="{{UserImageBaseUrl}}/{{UserInfo.data.UserImage}}" alt="" class="headeruserimg">
                  </div>
              </div> 
          </div><!-- header right -->

      </div>
  </div> <!-- feedsHeader -->

    <mat-menu #notifictionList="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false" class="MatMenuNotification" >
        
        <div class="notifyheader" style="min-width:300px">
            <div class="" fxLayout="row" fxLayoutAlign="start center">
                <div fxFlex>
                    <p class="notifyheadertext"> Notifications <span> ( {{ NotificationList?.length}} ) </span> </p>
                    <div class="arrow"></div>
                </div>
            </div>
        </div>
        <hr class="m-0">
        <p-scrollPanel style="width:100%;" [style]="{height: '250px'}" styleClass="customscroll_1">

            <div *ngIf="NotificationLoder">
                <div style="height:210px" fxLayout="row" fxLayoutAlign="space-evenly center">
                    <div fxFlex>
                        <div class="preloader-orbit-loading">
                            <div class="cssload-inner cssload-one"></div>
                            <div class="cssload-inner cssload-two"></div>
                            <div class="cssload-inner cssload-three"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div *ngIf="!NotificationLoder">
                <div class="notifylist" *ngFor="let Notify of NotificationList; let i=index">
                    <div style="position:relative" fxLayout="row" fxLayoutAlign="start center">
                        <div fxFlex="45px">
                            <img *ngIf="Notify.UserImage.toLowerCase().indexOf('http://') !== -1 || Notify.UserImage.toLowerCase().indexOf('https://') !== -1"  src="{{Notify.UserImage}}" alt="" (click)="GotoProfile(Notify.UserId); RemoveNotify(Notify._id, i)" class="userImg" >
                            <img *ngIf="Notify.UserImage.toLowerCase().indexOf('http://') === -1 || Notify.UserImage.toLowerCase().indexOf('https://') === -1" src="{{UserImageBaseUrl}}/{{Notify.UserImage}}" alt="" (click)="GotoProfile(Notify.UserId); RemoveNotify(Notify._id, i)" class="userImg">
                        </div>
                        <div class="mt-10" fxFlex>
                            <p class="notifycategory"> <span class="username"> {{Notify.UserName}}  </span>
                                    <span *ngIf="Notify.NotificationType == 0"> Followed you 
                                            <span (click)="RemoveNotifyAfterProfile(Notify._id, i, Notify.UserId)" style="position:absolute; right:3px; bottom:0px; cursor:pointer"  > View User... </span> 
                                    </span>
                                    <span *ngIf="Notify.NotificationType == 5" > posted a {{Notify.HighlightPostType}} 
                                        <span (click)="OpenModelHighlightsPost(Notify.HighlightPostId); RemoveNotify(Notify._id, i)" style="position:absolute; right:3px; bottom:0px; cursor:pointer"  > View More... </span> 
                                    </span>
                                    <span *ngIf="Notify.NotificationType == 8" > Shared your {{Notify.HighlightPostType}} 
                                        <span (click)="OpenModelHighlightsPost(Notify.HighlightPostId); RemoveNotify(Notify._id, i)" style="position:absolute; right:3px; bottom:0px; cursor:pointer"  > View More... </span> 
                                    </span>
                                    <span *ngIf="Notify.NotificationType == 17" > Share the {{Notify.SharedUserName}}  {{Notify.HighlightPostType}} 
                                            <span (click)="OpenModelHighlightsPost(Notify.HighlightPostId); RemoveNotify(Notify._id, i)" style="position:absolute; right:3px; bottom:0px; cursor:pointer"  > View More... </span> 
                                        </span>
                                    <span *ngIf="Notify.NotificationType == 6">  Gave a <img src="./../../../assets/images/icons/liked.png" style="width:17px; height:17px;" alt=""> to your {{Notify.HighlightPostType}} 
                                            <span (click)="OpenModelHighlightsPost(Notify.HighlightPostId); RemoveNotify(Notify._id, i)" style="position:absolute; right:3px; bottom:0px; cursor:pointer"  > View More... </span>
                                    </span>
                                    <span *ngIf="Notify.NotificationType == 15">  Gave a <img src="./../../../assets/images/icons/liked.png" style="width:17px; height:17px;" alt=""> to your Comment “{{Notify.CommentText | slice:0:12 }}...” 
                                            <span (click)="OpenModelHighlightsPost(Notify.HighlightPostId); RemoveNotify(Notify._id, i)" style="position:absolute; right:3px; bottom:0px; cursor:pointer"  > View More... </span>
                                    </span>
                                    <span *ngIf="Notify.NotificationType == 7"> Commented on your {{Notify.HighlightPostType}} 
                                            <span (click)="OpenModelHighlightsPost(Notify.HighlightPostId); RemoveNotify(Notify._id, i)" style="position:absolute; right:3px; bottom:0px; cursor:pointer"  > View More... </span>
                                    </span>
                                    <span *ngIf="Notify.NotificationType == 9"> Asked “{{QuestionText | slice:0:12 }}...” in {{Notify.QuestionTopic}} 
                                        <span (click)="OpenModelQuestionsPost(Notify.QuestionPostId); RemoveNotify(Notify._id, i)" style="position:absolute; right:3px; bottom:0px; cursor:pointer"  > View More... </span> 
                                    </span>
                                    <span *ngIf="Notify.NotificationType == 12" > Shared your Question in {{Notify.QuestionTopic}}
                                        <span (click)="OpenModelQuestionsPost(Notify.QuestionPostId); RemoveNotify(Notify._id, i)" style="position:absolute; right:3px; bottom:0px; cursor:pointer"  > View More... </span> 
                                    </span>
                                    <span *ngIf="Notify.NotificationType == 18" > Shared a Question in {{Notify.QuestionTopic}}
                                        <span (click)="OpenModelQuestionsPost(Notify.QuestionPostId); RemoveNotify(Notify._id, i)" style="position:absolute; right:3px; bottom:0px; cursor:pointer"  > View More... </span> 
                                    </span>
                                    <span *ngIf="Notify.NotificationType == 11"> Answered your Question in {{Notify.QuestionTopic}}
                                            <span (click)="OpenModelQuestionsPost(Notify.QuestionPostId); RemoveNotify(Notify._id, i)" style="position:absolute; right:3px; bottom:0px; cursor:pointer"  > View More... </span> 
                                    </span>
                                    <span *ngIf="Notify.NotificationType == 10"> gave {{Notify.QuestionRating}} <img src="./../../../assets/images/icons/liked.png" style="width:17px; height:17px;" alt=""> for your Question in  {{Notify.QuestionTopic}}
                                            <span (click)="OpenModelQuestionsPost(Notify.QuestionPostId); RemoveNotify(Notify._id, i)" style="position:absolute; right:3px; bottom:0px; cursor:pointer"  > View More... </span> 
                                    </span>
                                    <span *ngIf="Notify.NotificationType == 16"> gave {{Notify.AnswerRating}} <img src="./../../../assets/images/icons/liked.png" style="width:17px; height:17px;" alt=""> for your Answer in  “{{Notify.AnswerText | slice:0:12}}..” 
                                            <span (click)="OpenModelQuestionsPost(Notify.QuestionPostId); RemoveNotify(Notify._id, i)" style="position:absolute; right:3px; bottom:0px; cursor:pointer"  > View More... </span> 
                                    </span>
                                    <!-- <span *ngIf="Notify.NotificationType == 1"> Unfollow to You
                                            <span (click)="RemoveNotifyAfterProfile(Notify._id, i, Notify.UserId)" style="position:absolute; right:3px; bottom:0px; cursor:pointer"  > View User... </span> 
                                    </span> -->
                            </p>
                            <p class="notifydate"> {{Notify.NotificationDate | timeAgo }}  </p>
                        </div>
                    </div>
                    <hr class="m-0">
                </div>
                <br>
            </div>
            

        </p-scrollPanel>
        <!-- <div class="notifyfooter">
            <hr class="m-0">
            <div class="" fxLayout="row" fxLayoutAlign="space-evenly center">
                <div fxFlex="100%" class="text-center">
                    <p class="notifyfootertext"> See All... </p>
                </div>
            </div>
            <hr class="m-0">
        </div> -->
    </mat-menu>



    <mat-menu #userView="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false" class="MatMenuUserView" >   
        <div (click)="GotoMyProfile()" style="cursor:pointer" class="userdropd" fxLayout="row" fxLayoutAlign="space-between center">
            <div class="userdropd_icon" fxFlex="40px">
                <i class="material-icons">portrait</i>
            </div>
            <div fxFlex>
                <p class="userdropd_text"> View Profile </p>
            </div>
        </div>
        <div class="userdropdarrow"></div>
        <hr class="m-0">
        <div *ngIf="UserInfo.data._id === '5a7e1f61c0ef5405df578fe2'" (click)="OpenModelCreatTopic()" style="cursor:pointer" class="userdropd" fxLayout="row" fxLayoutAlign="space-between  center">
            <div class="userdropd_icon" fxFlex="40px">
                <i class="material-icons">add</i>
            </div>
            <div fxFlex>
                <p class="userdropd_text"> Create Topic </p>
            </div>
        </div>
        <hr  *ngIf="UserInfo.data._id === '5a7e1f61c0ef5405df578fe2'" class="m-0">
        <div (click)="LogOut()" style="cursor:pointer" class="userdropd" fxLayout="row" fxLayoutAlign="space-between  center">
            <div class="userdropd_icon" fxFlex="40px">
                <i class="material-icons">power_settings_new</i>
            </div>
            <div fxFlex>
                <p class="userdropd_text"> Log Out </p>
            </div>
        </div>
    </mat-menu>