<div class="postTwo">
    <div class="postheader" fxLayout="row" fxLayoutAlign="start" >
      <div fxFlex="65px" class="text-center">
        <img class="userimg" src="assets/images/sample/img7.jpg" alt="">
      </div>
      <div fxFlex class="text-left">
        <h5 class="m-0 posttype"> Ask a Question </h5>
      </div>
      <div fxFlex class="text-left">
          <h5 class="m-0 posttype text-right" >
            <span style="cursor:pointer" (click)="close()"> X </span>
          </h5>
        </div>
    </div>
  
    <hr style="margin-top:10px;">
  
    <mat-dialog-content class="postbody">
      <div class="pt-10 pb-10">
      <textarea class="posttext" placeholder="Ask Your Question ..."></textarea>
  
      <div class="postaddon mt-5" fxLayout="row" fxLayoutAlign="start" >
        <div fxFlex="50px" class="text-center postaddon_icon">
            <i class="material-icons">burst_mode</i>
        </div>
        <div fxFlex="50px" class="text-center postaddon_icon">
            <i class="material-icons" style="transform:rotate(90deg)">local_movies</i>
        </div>
        <div fxFlex="50px" class="text-center postaddon_icon">
            <i class="material-icons">insert_link</i>
        </div>
      </div>

      <div fxLayout fxLayoutAlign="space-between">
        <div fxFlex="85%">
            <div class="mt-10" fxLayout fxLayoutAlign="start">
              <div class="cat-img-item selected">
                <img src="assets/images/coins/coin1.png" alt="">
                <p> Topic N.. </p>
              </div>
              <div class="cat-img-item">
                  <img src="assets/images/coins/coin2.png" alt="">
                <p> Topic N.. </p>
              </div>
              <div class="cat-img-item">
                  <img src="assets/images/coins/coin3.png" alt="">
                <p> Topic N.. </p>
              </div>
              <div class="cat-img-item">
                  <img src="assets/images/coins/coin4.png" alt="">
                <p> Topic N.. </p>
              </div>
              <div class="cat-img-item">
                  <img src="assets/images/coins/coin5.png" alt="">
                <p> Topic N.. </p>
              </div>
              <div class="cat-img-item">
                  <img src="assets/images/coins/coin6.png" alt="">
                <p> Topic N.. </p>
              </div>
            </div>
        </div>
        <div fxFlex="15%" style="line-height:75px;">
            <button type="button" mat-raised-button (click)="close()" color="primary"> Post </button>
        </div>
      </div>
  
    </div>
    </mat-dialog-content>
  </div>