<div class="feedsRightBar">

    <!-- UserDetails -->
    <div class="p-10" fxLayout="row" fxLayoutAlign="space-evenly">
        <div fxFlex style="margin: 15px 0px 0px 10px;">
            <p class="username"> User Name </p>
            <p class="userfollowers"> 100 Followers </p>
            <p class="userfollowing"> 200 Following </p>
        </div>
        <div fxFlex="100px" class="text-center">
            <img class="userimg" src="./../../assets/images/sample/img7.jpg" alt="">
        </div>
    </div>
    <!-- UserDetails End -->

    <!-- <hr class="mt-5 mb-5"> -->

    <!-- Followers -->
    <div class="row mr-0">
      <div class="col-sm-12">
          <p class="headerstyle"> Followers ( 200 ) </p>
      </div>
      <div class="col-sm-12">
          <div class="col-sm-3 followPart ">
              <img class="followimg" src="./../../assets/images/sample/img1.jpg" alt="">
              <p class="followname"> User Na... </p>
          </div>
          <div class="col-sm-3 followPart">
              <img class="followimg" src="./../../assets/images/sample/img2.jpg" alt="">
              <p class="followname"> User Na... </p>
          </div>
          <div class="col-sm-3 followPart ">
              <img class="followimg" src="./../../assets/images/sample/img3.jpg" alt="">
              <p class="followname"> User Na...</p>
          </div>
          <div class="col-sm-3 followPart ">
              <img class="followimg" src="./../../assets/images/sample/img4.jpg" alt="">
              <p class="followname"> User Na... </p>
          </div>
      </div>
      <div class="col-sm-12 text-right">
          <p class="moreusers"> More Followers...</p>
      </div>
    </div>

    <!-- Followers End  -->


    <!-- Followers -->
    <div class="row mr-0">
      <div class="col-sm-12">
          <p class="headerstyle"> Following People ( 200 ) </p>
      </div>
      <div class="col-sm-12">
          <div class="col-sm-3 followPart ">
              <img class="followimg" src="./../../assets/images/sample/img5.jpg" alt="">
              <p class="followname"> User Na... </p>
          </div>
          <div class="col-sm-3 followPart">
              <img class="followimg" src="./../../assets/images/sample/img6.jpg" alt="">
              <p class="followname"> User Na... </p>
          </div>
          <div class="col-sm-3 followPart ">
              <img class="followimg" src="./../../assets/images/sample/img7.jpg" alt="">
              <p class="followname"> User Na...</p>
          </div>
          <div class="col-sm-3 followPart ">
              <img class="followimg" src="./../../assets/images/Picture4.png" alt="">
              <p class="followname"> User Na... </p>
          </div>
      </div>
      <div class="col-sm-12 text-right">
          <p class="moreusers"> More Peoples...</p>
      </div>
    </div>
    
    <!-- Followers End  -->



    <!-- Followers -->
    <div class="row mr-0">
      <div class="col-sm-12">
          <p class="headerstyle"> Following Topics ( 200 ) </p>
      </div>
      <div class="col-sm-12">
          <div class="col-sm-3 followPart ">
              <img class="followimg" src="./../../assets/images/sample/img2.jpg" alt="">
              <p class="followname"> User Na... </p>
          </div>
          <div class="col-sm-3 followPart">
              <img class="followimg" src="./../../assets/images/sample/img4.jpg" alt="">
              <p class="followname"> User Na... </p>
          </div>
          <div class="col-sm-3 followPart ">
              <img class="followimg" src="./../../assets/images/sample/img5.jpg" alt="">
              <p class="followname"> User Na...</p>
          </div>
          <div class="col-sm-3 followPart ">
              <img class="followimg" src="./../../assets/images/sample/img7.jpg" alt="">
              <p class="followname"> User Na... </p>
          </div>
      </div>
      <div class="col-sm-12 text-right">
          <p class="moreusers"> More Topics...</p>
      </div>
    </div>
    
    <!-- Followers End  -->

</div>
