
.feedsRightBar .userimg{
    width: 100px;
    height: 100px;
}
.feedsRightBar .username{
    font-size: 17px;
    font-weight: 700;
    color: #777777;
    margin: 0px;
    letter-spacing: 1px;
}
.feedsRightBar .userfollowers{
    font-size: 14px;
    font-weight: 600;
    color: #999999;
    margin: 0px;
    line-height: 20px;
}
.feedsRightBar .userfollowing{
    font-size: 14px;
    font-weight: 600;
    color: #999999;
    margin: 0px;
    line-height: 20px;
}


.feedsRightBar .headerstyle{
    text-align: left;
    font-size: 14px;
    padding: 4px 10px;
    font-weight: 700;
    background-color: #ffda0069;
    margin-bottom: 10px;
}






.feedsRightBar .followPart{
    height: 65px;
    text-align: center;
    padding-left: 0px;
}
.feedsRightBar .followimg{
    width: 45px;
    height: 45px;
    margin: 0px 10px;
    background-color: #66666630;
    padding: 1px;
    border-radius: 55px;
}

.feedsRightBar .followname{
    font-size: 11px;
    margin: 0px;
    font-weight: 700;
    letter-spacing: 0.2px;
    color: #666666;
}



.feedsRightBar .moreusers{
    font-size: 13px;
    margin: 0px;
    font-weight: 600;
    letter-spacing: 0.3px;
    cursor: pointer;
    line-height: 30px;
    color: #999999;
}