<div class="postTwo">
    <div class="postheader" fxLayout="row" fxLayoutAlign="start" >
      <div fxFlex="65px" class="text-center">
        <img class="userimg" src="{{UserImageBaseUrl}}/{{this.UserInfo.data.UserImage}}" alt="">
      </div>
      <div fxFlex class="text-left">
        <h5 class="m-0 posttype"> Write a Impression </h5>
      </div>
      <div fxFlex class="text-left">
          <h5 class="m-0 posttype text-right" >
            <span style="cursor:pointer" (click)="close()"> X </span>
          </h5>
        </div>
    </div>
  
    <hr style="margin-top:10px;">
  
    <mat-dialog-content class="postbody">
      <div class="pt-10 pb-10">
      <textarea [(ngModel)]="PostText" class="posttext" placeholder="Write a Impression ..."></textarea>


      <div fxLayout fxLayoutAlign="space-between">
        <div fxFlex="85%">
        </div>
        <div fxFlex="15%" style="line-height:75px;">
            <button type="button" mat-raised-button (click)="Submit()" color="primary"> Post </button>
        </div>
      </div>
  
    </div>
    </mat-dialog-content>
  </div>