

    <div class="welcome">
        <!-- Start main-content -->
        <div class="main-content">
          <!-- Section: home -->
          <section id="home" class="divider parallax">
            <div class="display-table">
              <div class="display-table-cell">
                  <div class="row" style="padding:15px 20px;">
                      <div class="col-sm-6" style="display:inline-flex;">
                          <img class="logoDesign-1 mr-5" src="assets/images/logos/logo3mini62.png" alt=""> 
                          <span class="logoTextDesign-1"> 
                              <sup class="TextDesign-1"> The </sup>
                              <span class="TextDesign-2"> Crypto </span>
                              <span class="TextDesign-3"> Network </span> 
                          </span>
                      </div>
                      <div class="col-sm-6 text-right" >
                          <div style="display:inline-flex;"> 
                              <a routerLink="/SignInSignUp" class="linkStyle-1"> Sign Up</a>
                              <a routerLink="/SignInSignUp" class="linkStyle-1"> Sign In</a>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-12 mt-40 mb-40">
                          <h2 class="text-center text-color">
                              Join the world’s first social network dedicated to crypto currencies
                          </h2>
                          <h1 class="text-center text-white"> 
                              ASK, CONNECT AND ENGAGE
                          </h1>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-12 mt-10 text-center">
                          <div class="index-style-1" style="display:inline-flex"> 
                              <input class="input-style-1" type="text" placeholder="Enter Your E-mail Address">
                              <div class="linkStyle-2"> <a href="#">  <i class="material-icons iconStyle-1">person_outline</i> </a> </div>
                          </div>
                      </div>
                      <div class="col-sm-12 text-center">
                          <p class="textStyle-1"> Already have an Account? &nbsp; <a href="#" class="linkStyle-3"> Sign In </a> </p>
                      </div>
                  </div>
      
                  <div class="row mt-40 mb-30">
                      <div class="col-sm-12 text-center">
                              <p class="textStyle-1 mb-0"> <small>  Or Sign In Using </small> </p>
                          <div style="display:inline-flex">
                              <a href="#" class="linkStyle-4 facebook">
                                  <i class="fa fa-facebook" aria-hidden="true"></i>
                              </a>
                              <a href="#" class="linkStyle-4 twitter">
                                  <i class="fa fa-twitter" aria-hidden="true"></i>
                              </a>
                              <a href="#" class="linkStyle-4 googlePlus">
                                  <i class="fa fa-google-plus" aria-hidden="true"></i>
                              </a>
                              <a href="#" class="linkStyle-4 linkedin">
                                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                              </a>
                          </div>
                      </div>
                  </div>
      
                  <div class="row fixed-row">
                      <div class="col-sm-12 menudiv">
                          <div style="display:inline-flex">
                              <a href="#" class="linkStyle-5"> About Us </a>
                              <a href="#" class="linkStyle-5"> Career </a>
                              <a href="#" class="linkStyle-5"> Terms </a>
                              <a href="#" class="linkStyle-5"> Privacy </a>
                              <a href="#" class="linkStyle-5"> Advertise </a>
                              <a href="#" class="linkStyle-5"> Contact </a>
                          </div>
                      </div>
                  </div>
      
              </div>
            </div>
          </section> 
        </div>  
      <!-- end main-content -->
    </div>