.welcome{
    background-color: #FFDA00 !important;
}
.welcome .text-color{
    color: #666666;
}
    
    /* Index Page Header Design  */
    
.welcome .logoDesign-1{
    height: 55px;
    margin: 3px 20px;
    cursor: pointer;
}
.welcome .TextDesign-1{
    text-align: center;
    color: #ffffff;
    font-family: 'Ubuntu', sans-serif;
    word-spacing: 1px;
    font-weight: 400;
}
.welcome .TextDesign-2{
    text-align: center;
    color: #333333;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.4px;
    word-spacing: 3px;
    font-weight: 900;
    zoom: 112%;
    text-transform: uppercase;
    margin: 0% 10%;
    margin-top: 20px;
}
.welcome .TextDesign-3{
    font-size: 25px;
    margin: 0px;
    font-weight: 800;
    line-height: 40px;
}
.welcome .linkStyle-1{
    font-weight: 700;
    font-size: 16px;
    margin-right: 25px;
    border: 1px solid #333333;
    padding: 5px 15px 6px 15px;
    letter-spacing: 1px;
    color: #333333;
}
.welcome .linkStyle-1:hover,
.welcome .linkStyle-1:active,
.welcome .linkStyle-1:focus{
    background-color: #ffffff;
    border-color: #ffffff;
}
.welcome .index-style-1{
    max-width: 550px;
    margin-bottom: 10px;
    background-color: #333333;
    width: 100%;
    padding: 10px;
    box-shadow: 3px 3px 3px #6b5d5da1;
}
.welcome .input-style-1{
    height: 40px;
    width: 88%;
    border: none;
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 0.4px;
    padding-left: 10px;
    color: #333333;
    font-family: 'Ubuntu', sans-serif;
    padding-bottom: 0px;
}

.welcome .input-style-1::-webkit-input-placeholder {
    font-size: 17px !important;
    font-weight: 600 !important;
    color: #33333354 !important;
    font-family: unset !important;
    text-transform: unset !important;
}   
.welcome .input-style-1:-moz-placeholder { /* Firefox 18- */
    font-size: 17px !important;
    font-weight: 600 !important;
    color: #33333354 !important;
    font-family: unset !important;
    text-transform: unset !important;
} 
.welcome .input-style-1::-moz-placeholder {  /* Firefox 19+ */
    font-size: 17px !important;
    font-weight: 600 !important;
    color: #33333354 !important;
    font-family: unset !important; 
    text-transform: unset !important;
}    
.welcome .input-style-1:-ms-input-placeholder {  
    font-size: 17px !important;
    font-weight: 600 !important;
    color: #33333354 !important;
    font-family: unset !important;
    text-transform: unset !important;
}

.welcome .warningmsg{
    margin-top: -5px;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.4px;
    font-weight: 600;
    font-size: 15px;
    word-spacing: 3px;
}
.welcome .warningmsg .warningtext{
    color:red;
    margin: 0px;
}

.welcome .linkStyle-2{
    width: 10%;
    margin-left: 10px;
    text-align: center;
}
.welcome .linkStyle-2 img{
    cursor: pointer;
    width: 34px;
    height: 34px;
    margin-top: 3px;
}
.welcome .textStyle-1{
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #333333;
    font-family: 'Ubuntu', sans-serif;
}
.welcome .linkStyle-3{
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1px;
    font-family: 'Ubuntu', sans-serif;
}
.welcome .linkStyle-4{
        margin: 5px;
        width: 45px;
        height: 45px;
        border: 3px solid royalblue;
        border-radius: 40px;
        background-color: #fff;
    }
.welcome .linkStyle-4 i{
        background-color: royalblue;
        width: 35px;
        height: 35px;
        border-radius: 35px;
        line-height: 35px;
        font-size: 17px;
        margin-top: 2px;
        color: #ffffff;
    }
.welcome .linkStyle-4.facebook i{
        background-color: #3B5999 !important;
    }
.welcome .linkStyle-4.twitter i{
        background-color: #1DA1F2 !important;
    }
.welcome .linkStyle-4.linkedin i{
        background-color: #0077B5 !important;
    }
.welcome .linkStyle-4.googlePlus i{
        background-color: #DC4437 !important;
    }
    
    
.welcome .linkStyle-4.facebook{
        border-color: #3B5999 !important;
    }
.welcome .linkStyle-4.twitter{
        border-color: #1DA1F2 !important;
    }
.welcome .linkStyle-4.linkedin{
        border-color: #0077B5 !important;
    }
.welcome .linkStyle-4.googlePlus{
        border-color: #DC4437 !important;
    }
    
/* .welcome .fixed-row{
        position: fixed;
        top: 93%;
        width: 102%;
    } */
.welcome .menudiv{
        height: 45px;
        line-height: 45px;
        background-color: #ffffff;
        width: 100%;
        text-align: center;
    }
.welcome .linkStyle-5{
        color: #666666;
        font-weight: 700;
        font-size: 15px;
        text-decoration: none;
        margin: 0px 15px;
    }