<div class="bg-primary-color EditProfile pt-20">

  <p class="headerInfo"> Profile Edit  <span style="position:absolute; right:10px; top:0px;font-size:20px;cursor:pointer " (click)="close()"  > X </span> </p>

    <form [formGroup]="Form" (ngSubmit)="submit()" class="mb-0">
        <!-- input Name -->
        <div class="text-center">
          <p class="error alertStyle-1 m-0" *ngIf="Form.controls.UserName.dirty &&  Form.value.UserName =='' "> Name Is Required </p>
          <input type="text" (blur)="checkFormValidation()" formControlName="UserName" class="inputStyle-1"  placeholder="Name">
        </div>

        <!-- input Email -->
        <div class="text-center">
          <input type="email" [readonly]="true" disabled formControlName="UserEmail" class="inputStyle-1" placeholder="E-mail Address">
        </div>


        <div *ngIf="SelectedCategory != ''">
            <!-- Input Company And Profession -->
            <div class="mt-10 mb-10" fxLayout fxLayoutAlign="center" fxLayoutGap="10px">
              <div fxFlex="41%">
                <input type="text" formControlName="UserCompany" class="inputStyle-2" placeholder="Company">
              </div>
              <div fxFlex="41%">
                <input type="text" formControlName="UserProfession" class="inputStyle-2" placeholder="Profession">
              </div>
            </div>
  
            <!-- Input Date oF Birth And Gender -->
            <div *ngIf="SelectedCategory != 'Company' && SelectedCategory != 'Media'" class="mt-10 mb-10" fxLayout fxLayoutAlign="center" fxLayoutGap="10px">
              <div fxFlex="41%">
                <input type="text" bsDatepicker #dp="bsDatepicker" [bsConfig]="bsConfig" formControlName="UserDateOfBirth" class="inputStyle-2" placeholder="Date Of Birth">
              </div>
              <div fxFlex="41%">
                <div class="gender-select">
                  <div class="tick" (click)="genderSelect('Male')" style="cursor:pointer">
                    <img class="ml-0" [ngClass]="{ 'p-10': ActiveGender != 'Male' }" src="./../../assets/images/tick.png" alt=""> <p> Male </p> 
                  </div>
                  <div class="tick " (click)="genderSelect('Female')" style="cursor:pointer">
                    <img class="p-10" [ngClass]="{ 'p-10': ActiveGender != 'Female' }" src="./../../assets/images/tick.png" alt=""> <p> Female </p>  
                  </div>
                  <div class="tick" (click)="genderSelect('Not Specify')" style="cursor:pointer">
                    <img class="p-10" [ngClass]="{ 'p-10': ActiveGender != 'Not Specify' }" src="./../../assets/images/tick.png" alt=""> <p> Not Specify  </p> 
                  </div>
                  <div class="tick" (click)="genderSelect('Others')" style="cursor:pointer">
                    <img class="p-10" [ngClass]="{ 'p-10': ActiveGender != 'Others' }" src="./../../assets/images/tick.png" alt=""> <p> Other </p> 
                  </div>
                </div>
              </div>
            </div>
  
            <!-- Input Country State And City -->
            <div class="mt-10 mb-10" fxLayout fxLayoutAlign="center" fxLayoutGap="5px">
              <div fxFlex="28%">
                  <input type="text" formControlName="UserCountry" class="inputStyle-2" placeholder="Country">
              </div>
              <div fxFlex="27%">
                  <input type="text" formControlName="UserState" class="inputStyle-2" placeholder="State">
              </div>
              <div fxFlex="27%">
                  <input type="text" formControlName="UserCity" class="inputStyle-2" placeholder="City">
              </div>
            </div>
        </div>

        <!--  Submit Button -->
        <div class="text-center mt-10 pb-10">
           <button [disabled]="!formValid" type="submit" [ngClass]="{'disabled': !formValid}" class="btn-flat btn btn-cutom"> Submit </button>
        </div>
        
    </form>
  </div>