<div class="Discover" style="min-width:700px">

  <div fxLayout="row" fxLayoutAlign="space-evenly start">
    <div fxFlex="100%" class="DiscoverRightBar">
      <div class="box-1">
        <div class="row m-0">
          <div class="col-sm-12 p-0">
            <p class="followheader"> Following Topics <span style="cursor:pointer; position:absolute; right:10px; font-size:20px" (click)="close()"> X </span> </p>
          </div>
        </div>

        <p-scrollPanel style="width:100%;" [style]="{height: '393px' }" styleClass="customscroll_1">
          <!-- topic End -->
          <div class="mb-30">


            <div *ngIf="LoadingTopics" class="col-sm-12">
              <div style="height:220px" fxLayout="row" fxLayoutAlign="space-evenly center">
                <div fxFlex>
                  <div class="preloader-orbit-loading">
                    <div class="cssload-inner cssload-one"></div>
                    <div class="cssload-inner cssload-two"></div>
                    <div class="cssload-inner cssload-three"></div>
                  </div>
                </div>
              </div>
            </div>


            <!-- follow peoples List  -->
            <div class="row m-0">
                <div *ngFor="let Topic of DiscoverTopics; let j=index" class="mt-10 mb-20 col-sm-3 p-0" style="max-width:175px;">
                    <div class="text-center" style="position:relative">
                      <img class="userlistImg" (click)="SelectTopic(Topic)" src="{{TopicImageBaseUrl}}/{{Topic.TopicImage}}" alt="">
                      <p class="userlistname">
                        <span> {{Topic.TopicName}} </span>
                      </p>
                    </div>
                  </div>
            </div>

          </div>
        </p-scrollPanel>
        <hr class="m-5">
      </div>
      <!-- follow people  -->
    </div>
  </div>

</div>

