<div class="ProfilePrivacy">

  <p class="headerInfo"> Edit Comment <span style="position:absolute; right:20px; top:0px;font-size:23px;cursor:pointer; font-weight: 900; " (click)="close()"  > X </span> </p>
  


        <!-- input Email -->
        <div class="text-left" style="padding:0px 20px">
          Comment
          <textarea [(ngModel)]="inputValue" type="text" class="inputStyle-1" placeholder=" Comment..."> </textarea>
        </div>

        <hr class="mb-5 mt-5">
        <div class="row m-0 mb-5">
          <div class="col-sm-12 text-right">
            <button (click)="submit()"  [disabled]=" inputValue === '' " [ngClass]="{'disabled': inputValue === '' }"  type="button" class="btn-flat btn btn-cutom"> 
               <span> Submit </span> 
            </button>
          </div> 
      </div>

</div>