
<div>
    <div>
        <div *ngIf="ActiveCategory === ''"> <!-- ___________________ ' ' ___________________________ -->
            <!-- <div class="headerPost" fxLayout="row" fxLayoutAlign="space-evenly">
                <div fxFill>
                    <div class="leftArea">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> <p> Add a Topic... </p>
                    </div>
                </div>
            </div> -->

            <div class="CategoriesList" fxLayout="row" fxLayoutAlign="space-evenly start">
                <div class="text-center" fxFlex>
                    <img (click)="ActiveCategorySelect('01')" class="CatImg" src="./../../../assets/images/icons/discover/Company.png"
                    alt="">
                    <p class="CatName">
                        <span (click)="ActiveCategorySelect('01')"> Companies </span>
                    </p>
                </div>
                <div class="text-center" fxFlex>
                    <img (click)="ActiveCategorySelect('02')" class="CatImg" src="./../../../assets/images/icons/discover/PressRelease.png"
                    alt="">
                    <p class="CatName">
                        <span (click)="ActiveCategorySelect('02')"> Press Release </span>
                    </p>
                </div>
                <div class="text-center" fxFlex>
                    <img (click)="ActiveCategorySelect('03')" class="CatImg" src="./../../../assets/images/icons/discover/Ico.png" alt="">
                    <p class="CatName">
                        <span (click)="ActiveCategorySelect('03')"> ICOs </span>
                    </p>
                </div>
                <div class="text-center" fxFlex>
                    <img (click)="ActiveCategorySelect('04')" class="CatImg" src="./../../../assets/images/icons/discover/Regulations.png"
                    alt="">
                    <p class="CatName">
                        <span (click)="ActiveCategorySelect('04')"> Regulations </span>
                    </p>
                </div>
                <div class="text-center" fxFlex>
                    <img (click)="ActiveCategorySelect('05')" class="CatImg" src="./../../../assets/images/icons/discover/Courses.png"
                    alt="">
                    <p class="CatName">
                        <span (click)="ActiveCategorySelect('05')"> Courses </span>
                    </p>
                </div>
                <div class="text-center" fxFlex>
                    <img (click)="ActiveCategorySelect('06')" class="CatImg" src="./../../../assets/images/icons/discover/Jobs.png" alt="">
                    <p class="CatName">
                        <span (click)="ActiveCategorySelect('06')"> Jobs </span>
                    </p>
                </div>
                <div class="text-center" fxFlex="175px">
                    <div class="rightArea">
                        <i class="material-icons">add_circle_outline</i> Add New Topic
                    </div>
                </div>
            </div>

            <div class="TopicsList" style="position: relative;">
                <div class="TopicCard">
                    <div class="TopicCardBox">
                        <div class="TopicBGimg" >
                                <img src="./../../../assets/images/icons/discover/Blockchain-Basics.png" alt="">
                            </div>
                            <h5 class="TopicName"> Blockchain Basics </h5>
                            <div class="TopicInfonew p-5" style="width:100%" fxLayout="row" fxLayoutAlign="space-evenly start">
                                <div class="text-center" fxFlex="25%" style="display: inline-flex;">
                                    <img class="TopicInfoCatImg" src="./../../../assets/images/icons/discover/snippets.png" alt="">
                                    <p class="TopicInfoCatCount">
                                        <span> 0 </span>
                                    </p>
                                </div>
                                <div class="text-center" fxFlex="25%" style="display: inline-flex;">
                                    <img class="TopicInfoCatImg" src="./../../../assets/images/icons/discover/video.png" alt="">
                                    <p class="TopicInfoCatCount">
                                        <span> 0 </span>
                                    </p>
                                </div>
                                <div class="text-center" fxFlex="25%" style="display: inline-flex;">
                                    <img class="TopicInfoCatImg" src="./../../../assets/images/icons/discover/article.png" alt="">
                                    <p class="TopicInfoCatCount">
                                        <span> 0 </span>
                                    </p>
                                </div>
                                <div class="text-center" fxFlex="25%" style="display: inline-flex;">
                                    <img class="TopicInfoCatImg" src="./../../../assets/images/icons/discover/docs.png" alt="">
                                    <p class="TopicInfoCatCount">
                                        <span> 0 </span>
                                    </p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="TopicCard">
                    <div class="TopicCardBox">
                        <div class="TopicBGimg" >
                                <img src="./../../../assets/images/icons/discover/IcoImg.png" alt="">
                            </div>
                            <h5 class="TopicName"> ICO </h5>
                            <div class="TopicInfonew p-5" style="width:100%" fxLayout="row" fxLayoutAlign="space-evenly start">
                                <div class="text-center" fxFlex="25%" style="display: inline-flex;">
                                    <img class="TopicInfoCatImg" src="./../../../assets/images/icons/discover/snippets.png" alt="">
                                    <p class="TopicInfoCatCount">
                                        <span> 0 </span>
                                    </p>
                                </div>
                                <div class="text-center" fxFlex="25%" style="display: inline-flex;">
                                    <img class="TopicInfoCatImg" src="./../../../assets/images/icons/discover/video.png" alt="">
                                    <p class="TopicInfoCatCount">
                                        <span> 0 </span>
                                    </p>
                                </div>
                                <div class="text-center" fxFlex="25%" style="display: inline-flex;">
                                    <img class="TopicInfoCatImg" src="./../../../assets/images/icons/discover/article.png" alt="">
                                    <p class="TopicInfoCatCount">
                                        <span> 0 </span>
                                    </p>
                                </div>
                                <div class="text-center" fxFlex="25%" style="display: inline-flex;">
                                    <img class="TopicInfoCatImg" src="./../../../assets/images/icons/discover/docs.png" alt="">
                                    <p class="TopicInfoCatCount">
                                        <span> 0 </span>
                                    </p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="TopicCard">
                    <div class="TopicCardBox">
                        <div class="TopicBGimg" >
                                <img src="./../../../assets/images/icons/discover/Ethereum.png" alt="">
                            </div>
                            <h5 class="TopicName"> Ethereum </h5>
                            <div class="TopicInfonew p-5" style="width:100%" fxLayout="row" fxLayoutAlign="space-evenly start">
                                <div class="text-center" fxFlex="25%" style="display: inline-flex;">
                                    <img class="TopicInfoCatImg" src="./../../../assets/images/icons/discover/snippets.png" alt="">
                                    <p class="TopicInfoCatCount">
                                        <span> 0 </span>
                                    </p>
                                </div>
                                <div class="text-center" fxFlex="25%" style="display: inline-flex;">
                                    <img class="TopicInfoCatImg" src="./../../../assets/images/icons/discover/video.png" alt="">
                                    <p class="TopicInfoCatCount">
                                        <span> 0 </span>
                                    </p>
                                </div>
                                <div class="text-center" fxFlex="25%" style="display: inline-flex;">
                                    <img class="TopicInfoCatImg" src="./../../../assets/images/icons/discover/article.png" alt="">
                                    <p class="TopicInfoCatCount">
                                        <span> 0 </span>
                                    </p>
                                </div>
                                <div class="text-center" fxFlex="25%" style="display: inline-flex;">
                                    <img class="TopicInfoCatImg" src="./../../../assets/images/icons/discover/docs.png" alt="">
                                    <p class="TopicInfoCatCount">
                                        <span> 0 </span>
                                    </p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="TopicCard">
                    <div class="TopicCardBox">
                        <div class="TopicBGimg" >
                                <img src="./../../../assets/images/icons/discover/Smart-Contracts.png" alt="">
                            </div>
                            <h5 class="TopicName"> Smart Contracts </h5>
                            <div class="TopicInfonew p-5" style="width:100%" fxLayout="row" fxLayoutAlign="space-evenly start">
                                <div class="text-center" fxFlex="25%" style="display: inline-flex;">
                                    <img class="TopicInfoCatImg" src="./../../../assets/images/icons/discover/snippets.png" alt="">
                                    <p class="TopicInfoCatCount">
                                        <span> 0 </span>
                                    </p>
                                </div>
                                <div class="text-center" fxFlex="25%" style="display: inline-flex;">
                                    <img class="TopicInfoCatImg" src="./../../../assets/images/icons/discover/video.png" alt="">
                                    <p class="TopicInfoCatCount">
                                        <span> 0 </span>
                                    </p>
                                </div>
                                <div class="text-center" fxFlex="25%" style="display: inline-flex;">
                                    <img class="TopicInfoCatImg" src="./../../../assets/images/icons/discover/article.png" alt="">
                                    <p class="TopicInfoCatCount">
                                        <span> 0 </span>
                                    </p>
                                </div>
                                <div class="text-center" fxFlex="25%" style="display: inline-flex;">
                                    <img class="TopicInfoCatImg" src="./../../../assets/images/icons/discover/docs.png" alt="">
                                    <p class="TopicInfoCatCount">
                                        <span> 0 </span>
                                    </p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="TopicCard">
                    <div class="TopicCardBox">
                        <div class="TopicBGimg" >
                                <img src="./../../../assets/images/icons/discover/Governance.png" alt="">
                            </div>
                            <h5 class="TopicName"> Governance </h5>
                            <div class="TopicInfonew p-5" style="width:100%" fxLayout="row" fxLayoutAlign="space-evenly start">
                                <div class="text-center" fxFlex="25%" style="display: inline-flex;">
                                    <img class="TopicInfoCatImg" src="./../../../assets/images/icons/discover/snippets.png" alt="">
                                    <p class="TopicInfoCatCount">
                                        <span> 0 </span>
                                    </p>
                                </div>
                                <div class="text-center" fxFlex="25%" style="display: inline-flex;">
                                    <img class="TopicInfoCatImg" src="./../../../assets/images/icons/discover/video.png" alt="">
                                    <p class="TopicInfoCatCount">
                                        <span> 0 </span>
                                    </p>
                                </div>
                                <div class="text-center" fxFlex="25%" style="display: inline-flex;">
                                    <img class="TopicInfoCatImg" src="./../../../assets/images/icons/discover/article.png" alt="">
                                    <p class="TopicInfoCatCount">
                                        <span> 0 </span>
                                    </p>
                                </div>
                                <div class="text-center" fxFlex="25%" style="display: inline-flex;">
                                    <img class="TopicInfoCatImg" src="./../../../assets/images/icons/discover/docs.png" alt="">
                                    <p class="TopicInfoCatCount">
                                        <span> 0 </span>
                                    </p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="TopicCard">
                    <div class="TopicCardBox">
                        <div class="TopicBGimg" >
                                <img src="./../../../assets/images/icons/discover/Private-Blockchain.png" alt="">
                            </div>
                            <h5 class="TopicName"> Private Blockchain </h5>
                            <div class="TopicInfonew p-5" style="width:100%" fxLayout="row" fxLayoutAlign="space-evenly start">
                                <div class="text-center" fxFlex="25%" style="display: inline-flex;">
                                    <img class="TopicInfoCatImg" src="./../../../assets/images/icons/discover/snippets.png" alt="">
                                    <p class="TopicInfoCatCount">
                                        <span> 0 </span>
                                    </p>
                                </div>
                                <div class="text-center" fxFlex="25%" style="display: inline-flex;">
                                    <img class="TopicInfoCatImg" src="./../../../assets/images/icons/discover/video.png" alt="">
                                    <p class="TopicInfoCatCount">
                                        <span> 0 </span>
                                    </p>
                                </div>
                                <div class="text-center" fxFlex="25%" style="display: inline-flex;">
                                    <img class="TopicInfoCatImg" src="./../../../assets/images/icons/discover/article.png" alt="">
                                    <p class="TopicInfoCatCount">
                                        <span> 0 </span>
                                    </p>
                                </div>
                                <div class="text-center" fxFlex="25%" style="display: inline-flex;">
                                    <img class="TopicInfoCatImg" src="./../../../assets/images/icons/discover/docs.png" alt="">
                                    <p class="TopicInfoCatCount">
                                        <span> 0 </span>
                                    </p>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="TopicCard">
                    <div class="TopicCardBox">
                        <div class="TopicBGimg" >
                                <img src="./../../../assets/images/icons/discover/Applications.png" alt="">
                            </div>
                            <h5 class="TopicName"> Applications </h5>
                            <div class="TopicInfonew p-5" style="width:100%" fxLayout="row" fxLayoutAlign="space-evenly start">
                                <div class="text-center" fxFlex="25%" style="display: inline-flex;">
                                    <img class="TopicInfoCatImg" src="./../../../assets/images/icons/discover/snippets.png" alt="">
                                    <p class="TopicInfoCatCount">
                                        <span> 0 </span>
                                    </p>
                                </div>
                                <div class="text-center" fxFlex="25%" style="display: inline-flex;">
                                    <img class="TopicInfoCatImg" src="./../../../assets/images/icons/discover/video.png" alt="">
                                    <p class="TopicInfoCatCount">
                                        <span> 0 </span>
                                    </p>
                                </div>
                                <div class="text-center" fxFlex="25%" style="display: inline-flex;">
                                    <img class="TopicInfoCatImg" src="./../../../assets/images/icons/discover/article.png" alt="">
                                    <p class="TopicInfoCatCount">
                                        <span> 0 </span>
                                    </p>
                                </div>
                                <div class="text-center" fxFlex="25%" style="display: inline-flex;">
                                    <img class="TopicInfoCatImg" src="./../../../assets/images/icons/discover/docs.png" alt="">
                                    <p class="TopicInfoCatCount">
                                        <span> 0 </span>
                                    </p>
                                </div>
                            </div>
                    </div>
                </div>
                <div style="position:absolute;background-color:#f3f3f385;height: 100%; width: 100%;font-family: 'Ubuntu', sans-serif;"> 
                       <p style="background-color: #ffda00; position: absolute;text-align: center;font-size: 19px;padding: 0px 10px;
                       font-weight: 800;letter-spacing: 1.5px;left: 50%;top: 50%; transform: translate(-50%);"> Coming Soon  </p>
                </div>
            </div>
        </div>
        <div *ngIf="ActiveCategory === '01'"> <!-- ___________________01___________________________ -->

            <div class="headerPost" fxLayout="row" fxLayoutAlign="space-evenly">
                <div fxFill>
                    <div class="leftArea">
                        <img src="./../../../assets/images/icons/discover/Company.png" alt="" style="height: 40px;margin: 5px 5px 0px 0px;"> 
                        <p>  Add a Company Portfolio... </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <p style="margin-left: 5px;margin-top: 0px;margin-bottom: 3px;font-family: 'Ubuntu', sans-serif; font-size:12px;color:#888">
                    <span style="font-size: 14px;font-weight: 600;letter-spacing: 0.5px;color:#555; cursor: pointer;"  (click)="ActiveCategorySelect('')" > Go Back </span> </p>
                </div>
                <div class="col-sm-6 text-right">
                    <p style="cursor:pointer;margin-right: 10px;margin-top: 0px;margin-bottom: 3px; font-size:12px;color:#888; cursor: pointer;" > Add a sponsored company portfolio </p>
                </div>
            </div>

            <div style="background-color:#ffffff;height: 100%; width: 100%;
            text-align: center;font-size: 29px;line-height: 415px;font-family: 'Ubuntu', sans-serif"> 
                    Coming Soon 
            </div>
        </div>
        <div *ngIf="ActiveCategory === '02'"> <!-- ___________________02___________________________ -->

            <div class="headerPost" fxLayout="row" fxLayoutAlign="space-evenly">
                <div fxFill>
                    <div class="leftArea">
                        <img src="./../../../assets/images/icons/discover/PressRelease.png" alt="" style="height: 40px;margin: 5px 5px 0px 0px;"> 
                        <p> Add a Press Release... </p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <p style="margin-left: 5px;margin-top: 0px;margin-bottom: 3px;font-family: 'Ubuntu', sans-serif; font-size:12px;color:#888">
                    <span style="font-size: 14px;font-weight: 600;letter-spacing: 0.5px;color:#555; cursor: pointer;"  (click)="ActiveCategorySelect('')" > Go Back </span> </p>
                </div>
                <div class="col-sm-6 text-right">
                    <p style="cursor:pointer;margin-right: 10px;margin-top: 0px;margin-bottom: 3px; font-size:12px;color:#888; cursor: pointer;" > Add a sponsored Press Release </p>
                </div>
            </div>

            <div style="background-color:#ffffff;height: 100%; width: 100%;
            text-align: center;font-size: 29px;line-height: 415px;font-family: 'Ubuntu', sans-serif"> 
                    Coming Soon 
            </div>
        </div>
         <div *ngIf="ActiveCategory === '03'"> <!-- ___________________03___________________________ -->

            <div class="row">
                <div class="col-sm-6">
                    <p style="margin-left: 5px;margin-top: 0px;margin-bottom: 3px;font-family: 'Ubuntu', sans-serif; font-size:12px;color:#888">
                    <span style="font-size: 14px;font-weight: 600;letter-spacing: 0.5px;color:#555; cursor: pointer;"  (click)="ActiveCategorySelect('')" > Go Back </span> </p>
                </div>
                <div class="col-sm-6 text-right">
                    <p style="cursor:pointer;margin-right: 10px;margin-top: 0px;margin-bottom: 3px; font-size:12px;color:#888; cursor: pointer;" > Add a sponsored ICO </p>
                </div>
            </div>

            <div style="background-color:#ffffff;height: 100%; width: 100%;
            text-align: center;font-size: 29px;line-height: 415px;font-family: 'Ubuntu', sans-serif"> 
                    Coming Soon 
            </div>
        </div>
        <div *ngIf="ActiveCategory === '04'"> <!-- ___________________04___________________________ -->

            <div class="row">
                <div class="col-sm-6">
                    <p style="margin-left: 5px;margin-top: 0px;margin-bottom: 3px;font-family: 'Ubuntu', sans-serif; font-size:12px;color:#888">
                    <span style="font-size: 14px;font-weight: 600;letter-spacing: 0.5px;color:#555; cursor: pointer;"  (click)="ActiveCategorySelect('')" > Go Back </span> </p>
                </div>
            </div>

            <div style="background-color:#ffffff;height: 100%; width: 100%;
            text-align: center;font-size: 29px;line-height: 415px;font-family: 'Ubuntu', sans-serif"> 
                    Coming Soon 
            </div>
        </div>
        <div *ngIf="ActiveCategory === '05'"> <!-- ___________________05___________________________ -->
            <div class="row">
                <div class="col-sm-6">
                    <p style="margin-left: 5px;margin-top: 0px;margin-bottom: 3px;font-family: 'Ubuntu', sans-serif; font-size:12px;color:#888">
                    <span style="font-size: 14px;font-weight: 600;letter-spacing: 0.5px;color:#555; cursor: pointer;"  (click)="ActiveCategorySelect('')" > Go Back </span> </p>
                </div>
            </div>

            <div style="background-color:#ffffff;height: 100%; width: 100%;
            text-align: center;font-size: 29px;line-height: 415px;font-family: 'Ubuntu', sans-serif"> 
                    Coming Soon 
            </div>
        </div>
        <div *ngIf="ActiveCategory === '06'"> <!-- ___________________06___________________________ -->
            <div class="row">
                <div class="col-sm-6">
                    <p style="margin-left: 5px;margin-top: 0px;margin-bottom: 3px;font-family: 'Ubuntu', sans-serif; font-size:12px;color:#888">
                    <span style="font-size: 14px;font-weight: 600;letter-spacing: 0.5px;color:#555; cursor: pointer;"  (click)="ActiveCategorySelect('')" > Go Back </span> </p>
                </div>
            </div>

            <div style="background-color:#ffffff;height: 100%; width: 100%;
            text-align: center;font-size: 29px;line-height: 415px;font-family: 'Ubuntu', sans-serif"> 
                    Coming Soon 
            </div>
        </div>
    </div>
</div>
      