<div class="Discover" style="min-width:700px">

      <div fxLayout="row" fxLayoutAlign="space-evenly start">
        <div fxFlex="100%" class="DiscoverRightBar">
          <div class="box-1">
            <div class="row m-0">
              <div class="col-sm-12 p-0">
                <p class="followheader"> {{Header}} <span style="cursor:pointer; position:absolute; right:10px; font-size:20px" (click)="close()"> X </span> </p>
              </div>
            </div>

            <p-scrollPanel style="width:100%;" [style]="{height: '393px' }" styleClass="customscroll_1">
              <!-- topic End -->
              <div class="mb-30">
                <div *ngIf="LoadingTopics" class="col-sm-12">
                  <div style="height:220px" fxLayout="row" fxLayoutAlign="space-evenly center">
                    <div fxFlex>
                      <div class="preloader-orbit-loading">
                        <div class="cssload-inner cssload-one"></div>
                        <div class="cssload-inner cssload-two"></div>
                        <div class="cssload-inner cssload-three"></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div style="padding:0px 10%" *ngIf="DiscoverTopics?.length <= 0 && !LoadingTopics" class="col-sm-12">
                  <br>
                  <br>
                  <h5 class="userlistname"> You Will Follow All The Topics !</h5>
                  <br>
                  <br>
                </div>

                <!-- follow peoples List  -->
                <div class="row m-0">
                    <div *ngFor="let Topic of DiscoverTopics; let j=index" class="mt-10 mb-20 col-sm-3 p-0" style="max-width: 175px">
                        <div class="text-center" style="position:relative">
                          <img class="userlistImg" src="{{TopicImageBaseUrl}}/{{Topic.TopicImage}}" alt="">
                          <p class="userlistname">
                            <span> {{Topic.TopicName}} </span>
                          </p>
                          <p class="userlistcategory"> {{Topic.Followers}} Followers</p>
                          <p class="userlistcategory "> {{Topic.QuestionCount}} Qus &nbsp;| &nbsp; {{Topic.AnsCount}} Ans </p>
                          <span class="topicAddIcon">
                            <i class="material-icons" (click)="followTopic(Topic._id)">add_circle</i>
                          </span>
                        </div>
                      </div>
                </div>
                

                <!-- <div *ngFor="let Topic of DiscoverTopics; let j=index" class="mt-10 mb-20" fxLayout="row" fxLayoutAlign="space-evenly">
                  <div fxFlex="25%" class="text-center" style="position:relative">
                    <img class="userlistImg" src="{{TopicImageBaseUrl}}/{{Topic.TopicImage}}" alt="">
                    <p class="userlistname">
                      <span> {{Topic.TopicName}} </span>
                    </p>
                    <p class="userlistcategory"> {{Topic.Followers}} Followers</p>
                    <p class="userlistcategory "> {{Topic.QuestionCount}} Qus &nbsp;| &nbsp; {{Topic.AnsCount}} Ans </p>
                    <span class="topicAddIcon">
                      <i class="material-icons" (click)="followTopic(Topic._id)">add_circle</i>
                    </span>
                  </div>
                  <div fxFlex class="text-center">
                    <div class="boxQuestions">
                      <p-scrollPanel style="width:100%;" [style]="{height: '80px' }" styleClass="customscroll_1">
                        <div class=" mb-20">
                          <p *ngFor="let qus of Topic.Questions; let j=index" class="questionsList"> Qus : {{qus.PostText | slice:0:40 }}{{ qus.PostText?.length > 40 ? '...' : ' ' }} </p>
                        </div>
                      </p-scrollPanel>
                    </div>
                  </div>
                </div> -->

              </div>
            </p-scrollPanel>
            <hr class="m-5">
            <div class="text-center">
              <button class="btn-flat btn btn-cutom mb-5" disabled> Follow All </button>
            </div>
          </div>
          <!-- follow people  -->
        </div>
      </div>

</div>

