.feedsRightBar{
    position: relative;
}
.feedsRightBar .userdiv{
    padding: 7px;
}

.feedsRightBar .userimg{
    width: 120px;
    height: 120px;
    border-radius: 100px;
}
.feedsRightBar .username{
    font-size: 18px;
    font-weight: 700;
    color: #333333;
    margin: 0px;
    letter-spacing: 0.5px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}
.feedsRightBar .userfollowers{
    font-size: 14px;
    font-weight: 500;
    color: #888888;
    margin: 0px;
    line-height: 18px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0px;
}



.feedsRightBar .headerstyle{
    text-align: left;
    font-size: 14px;
    font-weight: 500;
    padding-left: 10px;
    color: #333333;
    font-family: 'Ubuntu', sans-serif;
    /* border-bottom: 1px solid #ffda00; */
    margin: 10px 5px 0px 5px;
    letter-spacing: 0.4px;
}



.feedsRightBar .listFlexDiv{
    display: inline-flex;
    padding: 10px 20px 0px 20px;
}

.feedsRightBar .followPart{
    height: 60px;
    text-align: center;
    padding: 0px;
    width: 25%;
}
.feedsRightBar .followimg{
    width: 40px;
    height: 40px;
    padding: 2px;
    border-radius: 50px;
    cursor: pointer;
}

.feedsRightBar .followname{
    font-size: 11px;
    margin: 0px;
    font-weight: 500;
    color: #666666;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.3px;
    cursor: pointer;
}



.feedsRightBar .viewAll{
    margin: 0px;
    font-size: 12px;
    font-weight: 500;
    color: #999999;
    letter-spacing: 0.6px;
    margin-right: 5px;
    padding-bottom: 3px;
    font-family: 'Ubuntu', sans-serif;
}
.feedsRightBar .viewAll span{
   cursor: pointer;
}


.PictureChange{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 0px;
    color: #333333;
}

.PictureChange i{
    background-color: #ffda00;
    box-shadow: rgba(56, 49, 49, 0.8) 1px 1px 1px 1px;
    font-size: 32px;
    cursor: pointer;
}
