
.Questions .headerPost{
    height: 50px;
    background-color: #ffffff;
    margin: 0px 3px 5px 3px;
    box-shadow: rgba(102, 102, 102, 0.47) 0px 1px 8px 0px;
}

.Questions .headerPost .leftArea{    
    padding: 0px 10px;
    line-height: 50px;
    font-size: 17px;
    font-weight: 600;
    color: #333333;
    letter-spacing: 0.5px;
    font-family: 'Ubuntu', sans-serif;
}
.Questions .headerPost .leftArea i{    
    font-size: 19px;
    padding: 0px 10px;
}


.postScroll{
    margin-bottom: 30px;
}






.Questions .QuestionPost{
    background-color:#ffffff;
    box-shadow: 0px 0px 5px 1px #607d8b63;
    margin: 3px;
    padding-bottom: 5px;
}


.Questions .QuestionPost .PostHeader{
    padding: 0px 10px;
}
.Questions .QuestionPost .leftSide .postuserImg{
    height: 40px;
    width: 40px;
    margin-top: 3px;
    cursor: pointer;
    border-radius: 60px;
}
.Questions .QuestionPost .leftSide .postusername{
    line-height: 14px;
    font-size: 14px;
    letter-spacing: 0.5px;
    margin: 0px;
    /* font-weight: 600; */
    color: #333333;
    font-family: 'Ubuntu', sans-serif;
}
.Questions .QuestionPost .leftSide .postusercategory{
    margin: 0px;
    line-height: 15px;
    font-size: 13px;
    color: #9c9a9a;
    font-family: 'Ubuntu', sans-serif;
}
.Questions .QuestionPost .leftSide .postuserfollowers{
    margin: 0px;
    line-height: 14px;
    font-size: 13px;
    color: #9c9a9a;
    font-family: 'Ubuntu', sans-serif;
}



.Questions .QuestionPost .rightSide .postaction{
    line-height: 10px;
    font-size: 24px;
    margin: 0px;
    color: gray;
}
.Questions .QuestionPost .rightSide .postdate{
    margin: 0px;
    line-height: 16px;
    margin-top: 6px;
    color: #9c9a9a;
    font-size: 12px;
    letter-spacing: 0.4px;
    font-family: 'Ubuntu', sans-serif;
}
.Questions .QuestionPost .rightSide .posttopic{
    margin: 0px;
    line-height: 14px;
    /* font-weight: 600; */
    color: #9c9a9a;
    letter-spacing: 0.6px;
    font-size: 13px;
    font-family: 'Ubuntu', sans-serif;
}








.Questions .QuestionPost .postquestion{
    margin: 0px;
    margin-left: 10px;
    color: #666666e6;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0px;
    word-spacing: 2px;
    font-family: 'Ubuntu', sans-serif;
}







.Questions .QuestionPost .postLikes .like{
    display: inline-flex;
    /* cursor: pointer; */
    margin-top: 5px;
    /* max-width: 125px; */
}
.Questions .QuestionPost .postLikes {
    padding: 0px 15px;
}
.Questions .QuestionPost .postLikes .like img{
    width: 30px;
    height: 30px;
}
.Questions .QuestionPost .postLikes .like .count{
    line-height: 35px;
    font-size: 15px;
    letter-spacing: 0.7px;
    font-weight: 600;
    margin: 0px 5px;
    color: #666666cf;
}
.Questions .QuestionPost .postLikes .chat{
    display: inline-flex;
    cursor: pointer;
    margin-top: 5px;
}
.Questions .QuestionPost .postLikes .chat .answer{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin: 0px 5px;
    line-height: 30px;
    color: #555555;
}
.Questions .QuestionPost .postLikes .chat .count{
    line-height: 30px;
    font-size: 15px;
    letter-spacing: 0.7px;
    font-weight: 600;
    margin: 0px 5px;
    color: #666666cf;
}
.Questions .QuestionPost .postLikes .share{
    display: inline-flex;
    cursor: pointer;
    margin-top: 5px;
}
.Questions .QuestionPost .postLikes .share img{
    width: 30px;
    height: 30px;
}
.Questions .QuestionPost .postLikes .share .count{
    line-height: 35px;
    font-size: 15px;
    letter-spacing: 0.7px;
    font-weight: 600;
    margin: 0px 5px;
    color: #666666cf;
}

.Questions .QuestionPost .postchat {
    padding: 5px;
}

.Questions .QuestionPost .postchat .chatUserImg img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.Questions .QuestionPost .postchat .chatInput input{
    width: 98%;
    height: 35px;
    outline: transparent;
    border: 1px solid #333f4f3b;
    padding: 0px 10px;
    font-size: 14px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #333333;
}

.Questions .QuestionPost .postchat .chatsend i{
    font-size: 32px;
    color: #333333;
    transform: rotate(-35deg);
}






.scrolldiv{
    overflow-Y: auto;
    overflow-x: hidden;
}

.Questions .postmain .postquestion {
    margin: 5px 0px 10px 5px
}
.Questions .postAnswer {
    margin: 0px 10px 10px 5%;
    background-color: #ffffff;
    box-shadow: rgba(102, 102, 102, 0.47) 0px 1px 8px 0px;
}
.Questions .PostAnsHeader{
    height: 45px;
}
.Questions .PostAnsHeader .postansuserImg{
    width: 40px;
    height: 40px;
    border-radius: 40px;
}
.Questions .PostAnsHeader .postansusername{
    line-height: 14px;
    font-size: 13px;
    letter-spacing: 0.5px;
    margin: 0px;
    /* font-weight: 600; */
    color: #333333;
    font-family: 'Ubuntu', sans-serif;
}
.Questions .PostAnsHeader .postansaction{
    font-size: 20px;
    line-height: 10px;
    margin-right: 10px;
    color: #666666;
    margin-bottom: 4px;
}
.Questions .PostAnsHeader .postansdate{
    margin: 0px;
    line-height: 18px;
    color: #9c9a9a;
    font-size: 12px;
    letter-spacing: 0.4px;
    font-family: 'Ubuntu', sans-serif;
}
.Questions .PostAnsHeader .postansfollowes{
    margin: 0px;
    line-height: 16px;
    font-size: 13px;
    color: #9c9a9a;
    font-family: 'Ubuntu', sans-serif;
}
.Questions .PostAnsHeader .postansuserinfo{
    height: 45px;
    margin: 0px 0px 0px 5px;
}
.Questions .postAnswer .postAns{
    padding: 5px 5px 0px 10px;
}
.Questions .postAnswer .postAns .postAnsText{
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 0.2px;
    word-spacing: 2.5px;
    color: #9c9a9a;
    line-height: 20px;
}
.Questions .postmain .readmore{    
    font-size: 13px;
    margin: 0px;
    font-weight: 600;
    letter-spacing: 0.3px;
    cursor: pointer;
    line-height: 30px;
    color: #999999;
}








.Questions .commentPost{
    background-color: #e9eef378;
    box-shadow: 0px 0px 3px 1px #607d8b63;
    margin:4px 10px 15px 10px;
    padding: 4px;
}

.Questions .commentPost .commentbody .commenttext{
    font-size: 15px;
    color: gray;
    margin: 2px 10px;
    word-spacing: 2.5px;
    line-height: 20px;
}
.Questions .commentPost .PostHeader{
    padding: 0px 2px;
}
.Questions .commentPost .leftSide .postuserImg{
    height: 35px;
    width: 35px;
    border-radius: 35px;
}
.Questions .commentPost .leftSide .postusername{
    margin: 0px;
    line-height: 17px;
    font-size: 13px;
    /* font-weight: 600; */
    color: #827f7f;
    letter-spacing: 0.5px;
}
.Questions .commentPost .leftSide .postusercategory{
    margin: 0px;
    line-height: 17px;
    font-size: 12px;
    color: #9c9a9a;
}
.Questions .commentPost .leftSide .postuserfollowers{
    margin: 0px;
    line-height: 17px;
    font-size: 12px;
    color: #9c9a9a;
}

.Questions .commentPost .rightSide .postaction{
    line-height: 10px;
    font-size: 24px;
    margin: 0px;
    color: gray;
}
.Questions .commentPost .rightSide .postdate{
    margin: 0px;
    line-height: 18px;
    margin-top: 5px;
    color: #9c9a9a;
    font-size: 11px;
    letter-spacing: 0.4px;
}



.viewAll{
    margin: 0px;
    font-size: 13px;
    font-weight: 600;
    color: #999999;
    letter-spacing: 0.6px;
    margin-right: 5px;
    padding-bottom: 3px;
    font-family: 'Ubuntu', sans-serif;
}


.rating{
    display: inline-flex;
}
.rating .ratingpart img{
    width: 25px;
    height: 25px;
}