<div class="tabStyleTwo" style="padding:0px 10px;">
  <p-tabView (onChange)="onTabChange($event)">






      <p-tabPanel header="Following People"  >
        <div class="followingPeople">
          <div class="row m-0">
            <div class="col-sm-4 p-0">
              <div class="userdiv" fxLayout="row" fxLayoutAlign="space-evenly">
                <div fxFlex="85px" class="text-center">
                    <img class="userimg" src="./../../assets/images/sample/img1.jpg" alt="">
                </div>
                <div fxFlex style="margin: 10px 0px 0px 5px;">
                    <p class="username"> User Name </p>
                    <p class="userfollowers"> 100 Followers </p>
                    <p class="userfollowing"> 200 Following </p>
                    <div class="Action" [matMenuTriggerFor]="followingAction"><i class="material-icons">more_horiz</i></div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 p-0">
              <div class="userdiv" fxLayout="row" fxLayoutAlign="space-evenly">
                <div fxFlex="85px" class="text-center">
                    <img class="userimg" src="./../../assets/images/sample/img2.jpg" alt="">
                </div>
                <div fxFlex style="margin: 10px 0px 0px 5px;">
                    <p class="username"> User Name </p>
                    <p class="userfollowers"> 100 Followers </p>
                    <p class="userfollowing"> 200 Following </p>
                    <div class="Action" [matMenuTriggerFor]="followingAction"><i class="material-icons">more_horiz</i></div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 p-0">
              <div class="userdiv" fxLayout="row" fxLayoutAlign="space-evenly">
                <div fxFlex="85px" class="text-center">
                    <img class="userimg" src="./../../assets/images/sample/img3.jpg" alt="">
                </div>
                <div fxFlex style="margin: 10px 0px 0px 5px;">
                    <p class="username"> User Name </p>
                    <p class="userfollowers"> 100 Followers </p>
                    <p class="userfollowing"> 200 Following </p>
                    <div class="Action" [matMenuTriggerFor]="followingAction"><i class="material-icons">more_horiz</i></div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 p-0">
              <div class="userdiv" fxLayout="row" fxLayoutAlign="space-evenly">
                <div fxFlex="85px" class="text-center">
                    <img class="userimg" src="./../../assets/images/sample/img4.jpg" alt="">
                </div>
                <div fxFlex style="margin: 10px 0px 0px 5px;">
                    <p class="username"> User Name </p>
                    <p class="userfollowers"> 100 Followers </p>
                    <p class="userfollowing"> 200 Following </p>
                    <div class="Action" [matMenuTriggerFor]="followingAction"><i class="material-icons">more_horiz</i></div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 p-0">
              <div class="userdiv" fxLayout="row" fxLayoutAlign="space-evenly">
                <div fxFlex="85px" class="text-center">
                    <img class="userimg" src="./../../assets/images/sample/img5.jpg" alt="">
                </div>
                <div fxFlex style="margin: 10px 0px 0px 5px;">
                    <p class="username"> User Name </p>
                    <p class="userfollowers"> 100 Followers </p>
                    <p class="userfollowing"> 200 Following </p>
                    <div class="Action" [matMenuTriggerFor]="followingAction"><i class="material-icons">more_horiz</i></div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 p-0">
              <div class="userdiv" fxLayout="row" fxLayoutAlign="space-evenly">
                <div fxFlex="85px" class="text-center">
                    <img class="userimg" src="./../../assets/images/sample/img6.jpg" alt="">
                </div>
                <div fxFlex style="margin: 10px 0px 0px 5px;">
                    <p class="username"> User Name </p>
                    <p class="userfollowers"> 100 Followers </p>
                    <p class="userfollowing"> 200 Following </p>
                    <div class="Action" [matMenuTriggerFor]="followingAction"><i class="material-icons">more_horiz</i></div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 p-0">
              <div class="userdiv" fxLayout="row" fxLayoutAlign="space-evenly">
                <div fxFlex="85px" class="text-center">
                    <img class="userimg" src="./../../assets/images/sample/img7.jpg" alt="">
                </div>
                <div fxFlex style="margin: 10px 0px 0px 5px;">
                    <p class="username"> User Name </p>
                    <p class="userfollowers"> 100 Followers </p>
                    <p class="userfollowing"> 200 Following </p>
                    <div class="Action" [matMenuTriggerFor]="followingAction"><i class="material-icons">more_horiz</i></div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 p-0">
              <div class="userdiv" fxLayout="row" fxLayoutAlign="space-evenly">
                <div fxFlex="85px" class="text-center">
                    <img class="userimg" src="./../../assets/images/sample/img1.jpg" alt="">
                </div>
                <div fxFlex style="margin: 10px 0px 0px 5px;">
                    <p class="username"> User Name </p>
                    <p class="userfollowers"> 100 Followers </p>
                    <p class="userfollowing"> 200 Following </p>
                    <div class="Action" [matMenuTriggerFor]="followingAction"><i class="material-icons">more_horiz</i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>











      <p-tabPanel header="Following Topics" >
        <div class="followingTopics">
          <div class="row m-0">
            <div class="col-sm-4 p-0">
              <div class="userdiv" fxLayout="row" fxLayoutAlign="space-evenly">
                <div fxFlex="85px" class="text-center">
                    <img class="userimg" src="./../../assets/images/coins/coin1.png" alt="">
                </div>
                <div fxFlex style="margin: 10px 0px 0px 5px;">
                    <p class="username"> Topic Name </p>
                    <p class="userfollowers"> 100 Followers </p>
                    <p class="userfollowing"> 200 Following </p>
                    <div class="Action" [matMenuTriggerFor]="followingTopicAction"><i class="material-icons">more_horiz</i></div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 p-0">
              <div class="userdiv" fxLayout="row" fxLayoutAlign="space-evenly">
                <div fxFlex="85px" class="text-center">
                    <img class="userimg" src="./../../assets/images/coins/coin2.png" alt="">
                </div>
                <div fxFlex style="margin: 10px 0px 0px 5px;">
                    <p class="username"> Topic Name </p>
                    <p class="userfollowers"> 100 Followers </p>
                    <p class="userfollowing"> 200 Following </p>
                    <div class="Action" [matMenuTriggerFor]="followingTopicAction"><i class="material-icons">more_horiz</i></div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 p-0">
              <div class="userdiv" fxLayout="row" fxLayoutAlign="space-evenly">
                <div fxFlex="85px" class="text-center">
                    <img class="userimg" src="./../../assets/images/coins/coin3.png" alt="">
                </div>
                <div fxFlex style="margin: 10px 0px 0px 5px;">
                    <p class="username"> Topic Name </p>
                    <p class="userfollowers"> 100 Followers </p>
                    <p class="userfollowing"> 200 Following </p>
                    <div class="Action" [matMenuTriggerFor]="followingTopicAction"><i class="material-icons">more_horiz</i></div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 p-0">
              <div class="userdiv" fxLayout="row" fxLayoutAlign="space-evenly">
                <div fxFlex="85px" class="text-center">
                    <img class="userimg" src="./../../assets/images/coins/coin4.png" alt="">
                </div>
                <div fxFlex style="margin: 10px 0px 0px 5px;">
                    <p class="username"> Topic Name </p>
                    <p class="userfollowers"> 100 Followers </p>
                    <p class="userfollowing"> 200 Following </p>
                    <div class="Action" [matMenuTriggerFor]="followingTopicAction"><i class="material-icons">more_horiz</i></div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 p-0">
              <div class="userdiv" fxLayout="row" fxLayoutAlign="space-evenly">
                <div fxFlex="85px" class="text-center">
                    <img class="userimg" src="./../../assets/images/coins/coin5.png" alt="">
                </div>
                <div fxFlex style="margin: 10px 0px 0px 5px;">
                    <p class="username"> Topic Name </p>
                    <p class="userfollowers"> 100 Followers </p>
                    <p class="userfollowing"> 200 Following </p>
                    <div class="Action" [matMenuTriggerFor]="followingTopicAction"><i class="material-icons">more_horiz</i></div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 p-0">
              <div class="userdiv" fxLayout="row" fxLayoutAlign="space-evenly">
                <div fxFlex="85px" class="text-center">
                    <img class="userimg" src="./../../assets/images/coins/coin6.png" alt="">
                </div>
                <div fxFlex style="margin: 10px 0px 0px 5px;">
                    <p class="username"> Topic Name </p>
                    <p class="userfollowers"> 100 Followers </p>
                    <p class="userfollowing"> 200 Following </p>
                    <div class="Action" [matMenuTriggerFor]="followingTopicAction"><i class="material-icons">more_horiz</i></div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 p-0">
              <div class="userdiv" fxLayout="row" fxLayoutAlign="space-evenly">
                <div fxFlex="85px" class="text-center">
                    <img class="userimg" src="./../../assets/images/coins/coin7.png" alt="">
                </div>
                <div fxFlex style="margin: 10px 0px 0px 5px;">
                    <p class="username"> Topic Name </p>
                    <p class="userfollowers"> 100 Followers </p>
                    <p class="userfollowing"> 200 Following </p>
                    <div class="Action" [matMenuTriggerFor]="followingTopicAction"><i class="material-icons">more_horiz</i></div>
                </div>
              </div>
            </div>
            <div class="col-sm-4 p-0">
              <div class="userdiv" fxLayout="row" fxLayoutAlign="space-evenly">
                <div fxFlex="85px" class="text-center">
                    <img class="userimg" src="./../../assets/images/coins/coin8.png" alt="">
                </div>
                <div fxFlex style="margin: 10px 0px 0px 5px;">
                    <p class="username"> Topic Name </p>
                    <p class="userfollowers"> 100 Followers </p>
                    <p class="userfollowing"> 200 Following </p>
                    <div class="Action" [matMenuTriggerFor]="followingTopicAction"><i class="material-icons">more_horiz</i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </p-tabPanel>

  </p-tabView>
</div>
























<mat-menu #followingAction="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false" class="followingAction" >
    <div class="arrow"></div>
  <div class="folloewinguserdd" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="folloewinguserdd_icon" fxFlex="40px">
      <i class="material-icons">remove_circle_outline</i>
    </div>
    <div fxFlex>
        <p class="folloewinguserdd_text"> Un Follow </p>
    </div>
  </div>
  <div class="userdropdarrow"></div>
  <hr class="m-0">
  <div class="folloewinguserdd" fxLayout="row" fxLayoutAlign="space-between  center">
      <div class="folloewinguserdd_icon" fxFlex="40px">
        <i class="material-icons">do_not_disturb</i>
      </div>
      <div fxFlex>
          <p class="folloewinguserdd_text">Do Not Show User </p>
      </div>
  </div>
  <hr class="m-0">
  <div class="folloewinguserdd" fxLayout="row" fxLayoutAlign="space-between  center">
      <div class="folloewinguserdd_icon" fxFlex="40px">
        <i class="material-icons">speaker_notes_off</i>
      </div>
      <div fxFlex>
          <p class="folloewinguserdd_text"> Do Not Show User Posts </p>
      </div>
  </div>
  <hr class="m-0">
  <div class="folloewinguserdd" fxLayout="row" fxLayoutAlign="space-between  center">
    <div class="folloewinguserdd_icon" fxFlex="40px">
      <i class="material-icons">report</i>
    </div>
    <div fxFlex>
        <p class="folloewinguserdd_text"> Report User To Admin </p>
    </div>
</div>
</mat-menu>












<mat-menu #followingTopicAction="matMenu" yPosition="below" xPosition="after" [overlapTrigger]="false" class="followingTopicAction" >
    <div class="arrow"></div>
  <div class="folloewingtopicdd" fxLayout="row" fxLayoutAlign="space-between center">
    <div class="folloewingtopicdd_icon" fxFlex="40px">
      <i class="material-icons">remove_circle_outline</i>
    </div>
    <div fxFlex>
        <p class="folloewingtopicdd_text"> Un Follow Topic </p>
    </div>
  </div>
  <div class="userdropdarrow"></div>
  <hr class="m-0">
  <div class="folloewingtopicdd" fxLayout="row" fxLayoutAlign="space-between  center">
      <div class="folloewingtopicdd_icon" fxFlex="40px">
        <i class="material-icons">do_not_disturb</i>
      </div>
      <div fxFlex>
          <p class="folloewingtopicdd_text">Do Not Show Topic </p>
      </div>
  </div>
  <hr class="m-0">
  <div class="folloewingtopicdd" fxLayout="row" fxLayoutAlign="space-between  center">
      <div class="folloewingtopicdd_icon" fxFlex="40px">
        <i class="material-icons">speaker_notes_off</i>
      </div>
      <div fxFlex>
          <p class="folloewingtopicdd_text"> Do Not Show Topic Posts </p>
      </div>
  </div>
  <hr class="m-0">
  <div class="folloewingtopicdd" fxLayout="row" fxLayoutAlign="space-between  center">
    <div class="folloewingtopicdd_icon" fxFlex="40px">
      <i class="material-icons">report</i>
    </div>
    <div fxFlex>
        <p class="folloewingtopicdd_text"> Report Topic To Admin </p>
    </div>
</div>
</mat-menu>