<div class="tabStyleThree FeedsCenter">
    <p-tabView (onChange)="onTabChange($event)">

        <p-tabPanel header="Timeline">
            <app-profile-timeline></app-profile-timeline>
        </p-tabPanel>

        <p-tabPanel header="Followers">
            <app-profile-followers></app-profile-followers>
        </p-tabPanel>

        <p-tabPanel header="Following">
                <app-profile-following></app-profile-following>
        </p-tabPanel>

        <p-tabPanel header="Settings">
                <app-profile-settings></app-profile-settings>
        </p-tabPanel>

      </p-tabView>
</div>
