<div class="tabStyleOne FeedsCenter">
    <p-tabView (onChange)="onTabChange($event)">

        <p-tabPanel header="Highlights">
            <app-feeds-highlights></app-feeds-highlights>
        </p-tabPanel>

        <p-tabPanel header="Questions">
            <div *ngIf="ActiveIndex == '1'">
                 <app-feeds-questions></app-feeds-questions>
            </div>
        </p-tabPanel>

        <p-tabPanel header="Trends">
                <app-feeds-trends></app-feeds-trends>
        </p-tabPanel>

      </p-tabView>
</div>
